clusters.json
[
    {
        "id": "7c0f8761ede4f433",
        "type": "tab",
        "label": "Clusters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d979072282a1010",
        "type": "function",
        "z": "7c0f8761ede4f433",
        "name": "clusterMaker",
        "func": "var clusterMaker = context.global.clusters;\nvar temps = msg.payload;\nvar data = [];\nfor (var temp of temps) {\n    data.push([temp.temperature]);\n}\nconsole.log(data);\nclusterMaker.k(3);\nclusterMaker.iterations(750);\nclusterMaker.data(data);\nmsg.payload = clusterMaker.clusters();\nmsg.payload.sort(function(a, b) { return parseFloat(a.centroid) -\nparseFloat(b.centroid);}); //ensure that clusters are sorted on ascending speed\nglobal.set(\"foundclusters\",msg.payload);\nvar listing = global.get(\"foundclusters\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 400,
        "wires": [
            [
                "60218d97582ceb2a"
            ]
        ]
    },
    {
        "id": "60218d97582ceb2a",
        "type": "debug",
        "z": "7c0f8761ede4f433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "9f64f1984c4905f1",
        "type": "sqlite",
        "z": "7c0f8761ede4f433",
        "mydb": "d9f236dca5911a50",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "7d979072282a1010"
            ]
        ]
    },
    {
        "id": "61a93c48d082973e",
        "type": "function",
        "z": "7c0f8761ede4f433",
        "name": "function 38",
        "func": "var currentDate = new Date().toISOString().split('T')[0];\n\nmsg.topic = `SELECT temperature\nFROM weather_table wt\nJOIN cities_table ct ON wt.city_name = ct.city_name\nWHERE wt.time = '${currentDate}'`;\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "9f64f1984c4905f1"
            ]
        ]
    },
    {
        "id": "562bbf18aa20eee7",
        "type": "link in",
        "z": "7c0f8761ede4f433",
        "name": "K-Maker",
        "links": [
            "6dd67e07dfa6a3a6"
        ],
        "x": 195,
        "y": 380,
        "wires": [
            [
                "61a93c48d082973e"
            ]
        ]
    },
    {
        "id": "b83313b8aa0dacb2",
        "type": "comment",
        "z": "7c0f8761ede4f433",
        "name": "WeatherFlow -> link out 10",
        "info": "",
        "x": 270,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9f236dca5911a50",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]