create_user.json
[
    {
        "id": "cc703896.16628",
        "type": "tab",
        "label": "Create AMQP User",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48242476.164d3c",
        "type": "function",
        "z": "cc703896.16628",
        "name": "assign rights",
        "func": "msg.name = global.get(\"rabbit_mq_username\");\nvar password = global.get(\"rabbit_mq_password\");\nconsole.log(\"MSG: \" + msg.name);\nconsole.log(password);\nif (!msg.name || !password) {\n    msg.payload = \"Set rabbit mq username and password to continue (in initial gui dataflow).\"\n    return [null, null, msg];\n}\n\nmsg.headers={};\nvar vhost_name = global.get(\"vhost_name\");\nif (!vhost_name) {\n    msg.payload = \"Set vhost name to continue (in initial gui dataflow).\"\n    return [null, msg, null]\n}\nmsg.method='PUT';\nmsg.payload={\"configure\":\"\",\"write\":\"\",\"read\":\"\"};\nmsg.payload.read=msg.name+'.queue';\nmsg.url = 'http://127.0.0.1:15672/api/permissions/'+vhost_name+'/'+msg.name;\n\n\nreturn [msg, null, null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "e3e28b1e.7f496"
            ],
            [
                "14f5be716ce7c349"
            ],
            [
                "3cc97b6a3032438d"
            ]
        ]
    },
    {
        "id": "e3e28b1e.7f496",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "34487de3.ab7692",
                "504ed4f.b764fac"
            ]
        ]
    },
    {
        "id": "34487de3.ab7692",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "504ed4f.b764fac",
        "type": "function",
        "z": "cc703896.16628",
        "name": "create queue",
        "func": "msg.headers = {};\nmsg.method = 'PUT';\nmsg.payload = {\n    \"auto_delete\": false,\n    \"durable\": true,\n    \"arguments\": {}\n};\nvar vhost_name = global.get(\"vhost_name\");\nmsg.url = 'http://127.0.0.1:15672/api/queues/'+vhost_name+'/' + msg.name;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [
            [
                "177f052a.dece0b"
            ]
        ]
    },
    {
        "id": "177f052a.dece0b",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "d6cd4fcf.0cc65",
                "6bc7f3d0.f8744c"
            ]
        ]
    },
    {
        "id": "d6cd4fcf.0cc65",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "6bc7f3d0.f8744c",
        "type": "function",
        "z": "cc703896.16628",
        "name": "bind queue",
        "func": "msg.headers = {};\nmsg.method = 'POST';\nmsg.payload = {};\nvar vhost_name = global.get(\"vhost_name\");\nmsg.url = 'http://127.0.0.1:15672/api/bindings/'+vhost_name+'/e/amq.direct/q/' + msg.name;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "28f60975.226a56"
            ]
        ]
    },
    {
        "id": "28f60975.226a56",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 600,
        "wires": [
            [
                "31494361.752554"
            ]
        ]
    },
    {
        "id": "31494361.752554",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "dd2f0a4772205731",
        "type": "link in",
        "z": "cc703896.16628",
        "name": "create_amqp_user_link",
        "links": [
            "6282442439256022"
        ],
        "x": 245,
        "y": 340,
        "wires": [
            [
                "48242476.164d3c"
            ]
        ]
    },
    {
        "id": "3cc97b6a3032438d",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "Set Rabbit Username & Password Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "14f5be716ce7c349",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "Set Rabbit Vhost name Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "555b3fb67d2ea673",
        "type": "comment",
        "z": "cc703896.16628",
        "name": "Ergasia - GUI -> link out 9",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    }
]