create_users.json
[
    {
        "id": "cc703896.16628",
        "type": "tab",
        "label": "Create User Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7295e09.c42e",
        "type": "inject",
        "z": "cc703896.16628",
        "name": "",
        "props": [
            {
                "p": "name",
                "v": "testuser",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "f97ef40e.95383"
            ]
        ]
    },
    {
        "id": "f97ef40e.95383",
        "type": "function",
        "z": "cc703896.16628",
        "name": "create user",
        "func": "msg.method='PUT';\nmsg.payload={\"password\":\"george\",\"tags\":\"am\"};\n//msg.payload={};\n//msg.payload.password='george';\n//msg.payload.tags='am';\nmsg.url ='http://127.0.0.1:15672/api/users/'+msg.name;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "6b538366.b5b9cc"
            ]
        ]
    },
    {
        "id": "6b538366.b5b9cc",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "2d96850d.5564aa",
                "48242476.164d3c"
            ]
        ]
    },
    {
        "id": "2d96850d.5564aa",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b2bdde6.39c48c",
        "type": "inject",
        "z": "cc703896.16628",
        "name": "",
        "props": [
            {
                "p": "name",
                "v": "testuser",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "48242476.164d3c"
            ]
        ]
    },
    {
        "id": "48242476.164d3c",
        "type": "function",
        "z": "cc703896.16628",
        "name": "assign rights",
        "func": "msg.headers={};\n\nmsg.method='PUT';\nmsg.payload={\"configure\":\"\",\"write\":\"\",\"read\":\"\"};\nmsg.payload.read=msg.name+'.queue';\nmsg.url ='http://127.0.0.1:15672/api/permissions/testing/'+msg.name;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "e3e28b1e.7f496"
            ]
        ]
    },
    {
        "id": "e3e28b1e.7f496",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "34487de3.ab7692",
                "504ed4f.b764fac"
            ]
        ]
    },
    {
        "id": "34487de3.ab7692",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "504ed4f.b764fac",
        "type": "function",
        "z": "cc703896.16628",
        "name": "create queue",
        "func": "msg.headers = {};\nmsg.method = 'PUT';\nmsg.payload = {\n    \"auto_delete\": false,\n    \"durable\": true,\n    \"arguments\": {}\n};\nmsg.url = 'http://127.0.0.1:15672/api/queues/testing/' + msg.name;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [
            [
                "177f052a.dece0b"
            ]
        ]
    },
    {
        "id": "177f052a.dece0b",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "d6cd4fcf.0cc65"
            ]
        ]
    },
    {
        "id": "d6cd4fcf.0cc65",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "6bc7f3d0.f8744c",
        "type": "function",
        "z": "cc703896.16628",
        "name": "bind queue",
        "func": "msg.headers = {};\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.url = 'http://127.0.0.1:15672/api/bindings/testing/e/amq.direct/q/' + msg.name;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "28f60975.226a56"
            ]
        ]
    },
    {
        "id": "28f60975.226a56",
        "type": "http request",
        "z": "cc703896.16628",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 600,
        "wires": [
            [
                "31494361.752554"
            ]
        ]
    },
    {
        "id": "c6ee84f4.c3b628",
        "type": "inject",
        "z": "cc703896.16628",
        "name": "",
        "props": [
            {
                "p": "name",
                "v": "testuser",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "6bc7f3d0.f8744c"
            ]
        ]
    },
    {
        "id": "31494361.752554",
        "type": "debug",
        "z": "cc703896.16628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    }
]