gui.json
[
    {
        "id": "18d31d1c102a3749",
        "type": "tab",
        "label": "Ergasia - GUI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd21a20e0acf14f9",
        "type": "http request",
        "z": "18d31d1c102a3749",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "e740f7c72bd15dd9",
                "8715391625a0e940"
            ]
        ]
    },
    {
        "id": "a3ab4f541a6366da",
        "type": "function",
        "z": "18d31d1c102a3749",
        "name": "USER CHOOSE COUNTRY",
        "func": "var country_code = msg.payload; // user sets this.\n// sees if the country is already saved:\nif (global.keys().includes(country_code)) {\n    if(global.get(country_code)) {\n        msg.payload = \"Did not save country - it already exists.\"\n        global.set(\"current_country\", country_code);\n        return [null, msg];\n    }\n}\nglobal.set(country_code, 1);\nglobal.set(\"current_openweather\", 0);\nglobal.set(\"current_country\", \"0\");\nvar username = global.get(\"username\");\nmsg.url = \"http://api.geonames.org/searchJSON?country=\" + country_code + \"&username=\"+username;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "78e60073dccebe5b",
                "bd21a20e0acf14f9"
            ],
            [
                "a41679349cc6cac4"
            ]
        ]
    },
    {
        "id": "0662f721df23b416",
        "type": "comment",
        "z": "18d31d1c102a3749",
        "name": "Sends link for chosen country",
        "info": "Sends link for chosen country",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "50d93baa24d3d60e",
        "type": "ui_dropdown",
        "z": "18d31d1c102a3749",
        "name": "",
        "label": "",
        "tooltip": "Select a country",
        "place": "Select a country",
        "group": "07c2498f17a87e52",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "a3ab4f541a6366da",
                "6055323a9424b523",
                "be2b608a8181d8ed",
                "12b04e273d65c18c"
            ]
        ]
    },
    {
        "id": "ab85d9af04b2e756",
        "type": "inject",
        "z": "18d31d1c102a3749",
        "name": "INITIALIZE DROPDOWN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "757cf2221969b73e",
                "18dbb6f1ecd4b813"
            ]
        ]
    },
    {
        "id": "78e60073dccebe5b",
        "type": "debug",
        "z": "18d31d1c102a3749",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a33dee0589d4c8f",
        "type": "inject",
        "z": "18d31d1c102a3749",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "options",
                "v": "[]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "50d93baa24d3d60e"
            ]
        ]
    },
    {
        "id": "e740f7c72bd15dd9",
        "type": "debug",
        "z": "18d31d1c102a3749",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "8715391625a0e940",
        "type": "function",
        "z": "18d31d1c102a3749",
        "name": "CHECK EXISTS",
        "func": "if (msg.payload.totalResultsCount > 0) {\n    return [msg, null]\n} else {\n    msg.payload = \"Country does not exist.\"\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "26f4863dec2e323a",
                "ee227931fc2ecec9"
            ],
            []
        ]
    },
    {
        "id": "26f4863dec2e323a",
        "type": "debug",
        "z": "18d31d1c102a3749",
        "name": "Country exists",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "ee227931fc2ecec9",
        "type": "link out",
        "z": "18d31d1c102a3749",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "3db01f1d118e51c8"
        ],
        "x": 1145,
        "y": 160,
        "wires": []
    },
    {
        "id": "757cf2221969b73e",
        "type": "link out",
        "z": "18d31d1c102a3749",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "62db84a7b9dd05df",
            "85d7bd86379ed8c3"
        ],
        "x": 355,
        "y": 360,
        "wires": []
    },
    {
        "id": "6055323a9424b523",
        "type": "link out",
        "z": "18d31d1c102a3749",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "daa7f76f6190baef",
            "dc80e1f0a9e19983"
        ],
        "x": 995,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e67da18c483a67e",
        "type": "comment",
        "z": "18d31d1c102a3749",
        "name": "WeatherFlow + ImageFlow -> drop_table_link",
        "info": "Drops db table.",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "9dc1d5a0640485e4",
        "type": "comment",
        "z": "18d31d1c102a3749",
        "name": "WeatherFlow + ImageFlow -> create_table_link",
        "info": "Creates db tables.",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "7695afd2032e03e6",
        "type": "change",
        "z": "18d31d1c102a3749",
        "name": "GLOBAL USER CONFIG",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "global",
                "to": "yourusername",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a41679349cc6cac4",
        "type": "debug",
        "z": "18d31d1c102a3749",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "18dbb6f1ecd4b813",
        "type": "function",
        "z": "18d31d1c102a3749",
        "name": "ALL COUNTRIES",
        "func": "var res = [];\nvar options = [{\"name\": \"Armenia\", \"code\": \"AM\"}, {\"name\": \"Australia\", \"code\": \"AU\"}, {\"name\": \"Belarus\", \"code\": \"BY\"}, {\"name\": \"Belgium\", \"code\": \"BE\"}, {\"name\": \"Bosnia and Herzegovina\", \"code\": \"BA\"}, {\"name\": \"Brazil\", \"code\": \"BR\"}, {\"name\": \"Bulgaria\", \"code\": \"BG\"}, {\"name\": \"Canada\", \"code\": \"CA\"}, {\"name\": \"Chile\", \"code\": \"CL\"}, {\"name\": \"China\", \"code\": \"CN\"}, {\"name\": \"Croatia\", \"code\": \"HR\"}, {\"name\": \"Cuba\", \"code\": \"CU\"}, {\"name\": \"Cyprus\", \"code\": \"CY\"}, {\"name\": \"Czechia\", \"code\": \"CZ\"}, {\"name\": \"Denmark\", \"code\": \"DK\"}, {\"name\": \"Ecuador\", \"code\": \"EC\"}, {\"name\": \"Egypt\", \"code\": \"EG\"}, {\"name\": \"Estonia\", \"code\": \"EE\"}, {\"name\": \"Finland\", \"code\": \"FI\"}, {\"name\": \"France\", \"code\": \"FR\"}, {\"name\": \"Georgia\", \"code\": \"GE\"}, {\"name\": \"Germany\", \"code\": \"DE\"}, {\"name\": \"Gibraltar\", \"code\": \"GI\"}, {\"name\": \"Greece\", \"code\": \"GR\"}, {\"name\": \"Hungary\", \"code\": \"HU\"}, {\"name\": \"India\", \"code\": \"IN\"}, {\"name\": \"Indonesia\", \"code\": \"ID\"}, {\"name\": \"Iran\", \"code\": \"IR\"}, {\"name\": \"Ireland\", \"code\": \"IE\"}, {\"name\": \"Italy\", \"code\": \"IT\"}, {\"name\": \"Jamaica\", \"code\": \"JM\"}, {\"name\": \"Japan\", \"code\": \"JP\"}, {\"name\": \"Kazakhstan\", \"code\": \"KZ\"}, {\"name\": \"Kenya\", \"code\": \"KE\"}, {\"name\": \"Korea\", \"code\": \"KR\"}, {\"name\": \"Latvia\", \"code\": \"LV\"}, {\"name\": \"Lebanon\", \"code\": \"LB\"}, {\"name\": \"Lithuania\", \"code\": \"LT\"}, {\"name\": \"Luxembourg\", \"code\": \"LU\"}, {\"name\":\"Malta\", \"code\":\"MT\"}, {\"name\": \"Mexico\", \"code\": \"MX\"}, {\"name\": \"Moldova\", \"code\": \"MD\"}, {\"name\": \"Morocco\", \"code\": \"MA\"}, {\"name\": \"Nepal\", \"code\": \"NP\"}, {\"name\": \"Netherlands\", \"code\": \"NL\"}, {\"name\": \"New Zealand\", \"code\": \"NZ\"}, {\"name\": \"Nicaragua\", \"code\": \"NI\"}, {\"name\": \"Nigeria\", \"code\": \"NG\"}, {\"name\": \"Norway\", \"code\": \"NO\"}, {\"name\": \"Philippines\", \"code\": \"PH\"}, {\"name\": \"Poland\", \"code\": \"PL\"}, {\"name\": \"Portugal\", \"code\": \"PT\"}, {\"name\": \"Qatar\", \"code\": \"QA\"}, {\"name\": \"Republic of North Macedonia\", \"code\": \"MK\"}, {\"name\": \"Romania\", \"code\": \"RO\"}, {\"name\": \"Russia\", \"code\": \"RU\"}, {\"name\": \"Saudi Arabia\", \"code\": \"SA\"}, {\"name\": \"Serbia\", \"code\": \"RS\"}, {\"name\": \"Singapore\", \"code\": \"SG\"}, {\"name\": \"Slovakia\", \"code\": \"SK\"}, {\"name\": \"Slovenia\", \"code\": \"SI\"}, {\"name\": \"South Africa\", \"code\": \"ZA\"}, {\"name\": \"Spain\", \"code\": \"ES\"}, {\"name\": \"Sweden\", \"code\": \"SE\"}, {\"name\": \"Switzerland\", \"code\": \"CH\"}, {\"name\": \"Thailand\", \"code\": \"TH\"}, {\"name\": \"Tunisia\", \"code\": \"TN\"}, {\"name\": \"Turkey\", \"code\": \"TR\"}, {\"name\": \"Ukraine\", \"code\": \"UA\"}, {\"name\": \"United Arab Emirates\", \"code\": \"AE\"}, {\"name\": \"United Kingdom\", \"code\": \"GB\"}, {\"name\": \"United States of America\", \"code\": \"US\"}, {\"name\": \"Uruguay\", \"code\": \"UY\"}, {\"name\": \"Uzbekistan\", \"code\": \"UZ\"}, {\"name\": \"Venezuela\", \"code\": \"VE\"}];\nconsole.log(\"Countries List Size: \"+options.length);\nfor (var i = 0; i<options.length; i++){\n    var name = options[i][\"name\"];\n    var code = options[i][\"code\"];\n    var obj = {};\n    obj[name] = code;\n    res.push(obj);\n}\nmsg.options = res;\n// console.log(res);\nmsg.topic = \"Countries\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "50d93baa24d3d60e",
                "7695afd2032e03e6"
            ]
        ]
    },
    {
        "id": "be2b608a8181d8ed",
        "type": "function",
        "z": "18d31d1c102a3749",
        "name": "function 28",
        "func": "// resets - initializes vars\nglobal.set('current_cities', []);\nglobal.set('current_counter', 0);\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "ae2411f72c981387",
        "type": "ui_button",
        "z": "18d31d1c102a3749",
        "name": "",
        "group": "07c2498f17a87e52",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "757cf2221969b73e",
                "18dbb6f1ecd4b813"
            ]
        ]
    },
    {
        "id": "62f45ddb8a08291f",
        "type": "comment",
        "z": "18d31d1c102a3749",
        "name": "Ergasia Main Flow -> Function Call Countries",
        "info": "",
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "12b04e273d65c18c",
        "type": "change",
        "z": "18d31d1c102a3749",
        "name": "RABBIT & MAP CONFIG",
        "rules": [
            {
                "t": "set",
                "p": "map_url",
                "pt": "global",
                "to": "http://127.0.0.1:1880/worldmap/",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "open_weather_appid",
                "pt": "global",
                "to": "youropenweatherapikey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "rabbit_mq_username",
                "pt": "global",
                "to": "yourrabbitusername",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "rabbit_mq_password",
                "pt": "global",
                "to": "yourrabbitpassword",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "vhost_name",
                "pt": "global",
                "to": "yourrabbithost",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "c632f49034d218e6"
            ]
        ]
    },
    {
        "id": "c632f49034d218e6",
        "type": "link out",
        "z": "18d31d1c102a3749",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "dd2f0a4772205731"
        ],
        "x": 785,
        "y": 440,
        "wires": []
    },
    {
        "id": "fa7133ddb15ce062",
        "type": "comment",
        "z": "18d31d1c102a3749",
        "name": "Create AMQP User -> create_amqp_user_link",
        "info": "",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "07c2498f17a87e52",
        "type": "ui_group",
        "name": "App",
        "tab": "827648a1f0835a07",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "827648a1f0835a07",
        "type": "ui_tab",
        "name": "Smart City App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]