gui.json
[
    {
        "id": "f3d84fa3b7dfd7c1",
        "type": "tab",
        "label": "Ergasia - GUI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "861026f5f4bed466",
        "type": "http request",
        "z": "f3d84fa3b7dfd7c1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "6553e010da64a3c6",
                "89a342e523d01804"
            ]
        ]
    },
    {
        "id": "b942134d05d093d2",
        "type": "function",
        "z": "f3d84fa3b7dfd7c1",
        "name": "USER CHOOSE COUNTRY",
        "func": "var country_code = msg.payload; // user sets this.\n// sees if the country is already saved:\nif (global.keys().includes(country_code)) {\n    if(global.get(country_code)) {\n        msg.payload = \"Did not save country - it already exists.\"\n        return [null, msg];\n    }\n}\nglobal.set(country_code, 1);\nvar username = global.get(\"username\");\nmsg.url = \"http://api.geonames.org/searchJSON?country=\" + country_code + \"&username=\"+username;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "dbc4743cc02887e6",
                "861026f5f4bed466"
            ],
            [
                "952a49e1bfa17fdc"
            ]
        ]
    },
    {
        "id": "f639f14b2d585cab",
        "type": "comment",
        "z": "f3d84fa3b7dfd7c1",
        "name": "Sends link for chosen country",
        "info": "Sends link for chosen country",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "fc74116f3214a6df",
        "type": "ui_dropdown",
        "z": "f3d84fa3b7dfd7c1",
        "name": "",
        "label": "",
        "tooltip": "Select a country",
        "place": "Select a country",
        "group": "07c2498f17a87e52",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "b942134d05d093d2",
                "f054aeb1df64682e",
                "abb29c7122a0aaef"
            ]
        ]
    },
    {
        "id": "64f2565e04f0ed55",
        "type": "inject",
        "z": "f3d84fa3b7dfd7c1",
        "name": "INITIALIZE DROPDOWN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "8a8ae5ae3bb86981",
                "6a3280bc8e117e96"
            ]
        ]
    },
    {
        "id": "dbc4743cc02887e6",
        "type": "debug",
        "z": "f3d84fa3b7dfd7c1",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "6246c8a03bcaaec2",
        "type": "inject",
        "z": "f3d84fa3b7dfd7c1",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "options",
                "v": "[]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "fc74116f3214a6df"
            ]
        ]
    },
    {
        "id": "6553e010da64a3c6",
        "type": "debug",
        "z": "f3d84fa3b7dfd7c1",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "89a342e523d01804",
        "type": "function",
        "z": "f3d84fa3b7dfd7c1",
        "name": "CHECK EXISTS",
        "func": "if (msg.payload.totalResultsCount > 0) {\n    return [msg, null]\n} else {\n    msg.payload = \"Country does not exist.\"\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "1d99cd278f72bdda",
                "eb017252574aaa7e"
            ],
            []
        ]
    },
    {
        "id": "1d99cd278f72bdda",
        "type": "debug",
        "z": "f3d84fa3b7dfd7c1",
        "name": "Country exists",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "eb017252574aaa7e",
        "type": "link out",
        "z": "f3d84fa3b7dfd7c1",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "be6c27ccdb2076dc"
        ],
        "x": 1145,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a8ae5ae3bb86981",
        "type": "link out",
        "z": "f3d84fa3b7dfd7c1",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "1da41e39899160d4",
            "6d19e273c8e8dc82"
        ],
        "x": 355,
        "y": 360,
        "wires": []
    },
    {
        "id": "f054aeb1df64682e",
        "type": "link out",
        "z": "f3d84fa3b7dfd7c1",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "7129cc6fa27d5dd4",
            "ce7bedd8bd8d7af3"
        ],
        "x": 625,
        "y": 260,
        "wires": []
    },
    {
        "id": "169e0805624b84bd",
        "type": "comment",
        "z": "f3d84fa3b7dfd7c1",
        "name": "DROPS TABLE",
        "info": "",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "cca28b744295db95",
        "type": "comment",
        "z": "f3d84fa3b7dfd7c1",
        "name": "CREATES TABLE",
        "info": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7c3e90aa185a11e",
        "type": "change",
        "z": "f3d84fa3b7dfd7c1",
        "name": "GLOBAL USER CONFIG",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "global",
                "to": "yourusername",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "952a49e1bfa17fdc",
        "type": "debug",
        "z": "f3d84fa3b7dfd7c1",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a3280bc8e117e96",
        "type": "function",
        "z": "f3d84fa3b7dfd7c1",
        "name": "ALL COUNTRIES",
        "func": "var res = [];\nvar options = [{\"name\": \"Armenia\", \"code\": \"AM\"}, {\"name\": \"Aruba\", \"code\": \"AW\"}, {\"name\": \"Australia\", \"code\": \"AU\"}, {\"name\": \"Belarus\", \"code\": \"BY\"}, {\"name\": \"Belgium\", \"code\": \"BE\"}, {\"name\": \"Bosnia and Herzegovina\", \"code\": \"BA\"}, {\"name\": \"Brazil\", \"code\": \"BR\"}, {\"name\": \"Bulgaria\", \"code\": \"BG\"}, {\"name\": \"Cameroon\", \"code\": \"CM\"}, {\"name\": \"Canada\", \"code\": \"CA\"}, {\"name\": \"Cayman Islands\", \"code\": \"KY\"}, {\"name\": \"Chile\", \"code\": \"CL\"}, {\"name\": \"China\", \"code\": \"CN\"}, {\"name\": \"Colombia\", \"code\": \"CO\"}, {\"name\": \"Comoros\", \"code\": \"KM\"}, {\"name\": \"Croatia\", \"code\": \"HR\"}, {\"name\": \"Cuba\", \"code\": \"CU\"}, {\"name\": \"Cyprus\", \"code\": \"CY\"}, {\"name\": \"Czechia\", \"code\": \"CZ\"}, {\"name\": \"Denmark\", \"code\": \"DK\"}, {\"name\": \"Ecuador\", \"code\": \"EC\"}, {\"name\": \"Egypt\", \"code\": \"EG\"}, {\"name\": \"Estonia\", \"code\": \"EE\"}, {\"name\": \"Finland\", \"code\": \"FI\"}, {\"name\": \"France\", \"code\": \"FR\"}, {\"name\": \"French Southern Territories\", \"code\": \"TF\"}, {\"name\": \"Georgia\", \"code\": \"GE\"}, {\"name\": \"Germany\", \"code\": \"DE\"}, {\"name\": \"Gibraltar\", \"code\": \"GI\"}, {\"name\": \"Greece\", \"code\": \"GR\"}, {\"name\": \"Grenada\", \"code\": \"GD\"}, {\"name\": \"Guyana\", \"code\": \"GY\"}, {\"name\": \"Hungary\", \"code\": \"HU\"}, {\"name\": \"India\", \"code\": \"IN\"}, {\"name\": \"Indonesia\", \"code\": \"ID\"}, {\"name\": \"Iran\", \"code\": \"IR\"}, {\"name\": \"Ireland\", \"code\": \"IE\"}, {\"name\": \"Italy\", \"code\": \"IT\"}, {\"name\": \"Jamaica\", \"code\": \"JM\"}, {\"name\": \"Japan\", \"code\": \"JP\"}, {\"name\": \"Kazakhstan\", \"code\": \"KZ\"}, {\"name\": \"Kenya\", \"code\": \"KE\"}, {\"name\": \"Korea\", \"code\": \"KR\"}, {\"name\": \"Latvia\", \"code\": \"LV\"}, {\"name\": \"Lebanon\", \"code\": \"LB\"}, {\"name\": \"Lithuania\", \"code\": \"LT\"}, {\"name\": \"Luxembourg\", \"code\": \"LU\"}, {\"name\": \"Malta\", \"code\": \"MT\"}, {\"name\": \"Mexico\", \"code\": \"MX\"}, {\"name\": \"Moldova\", \"code\": \"MD\"}, {\"name\": \"Morocco\", \"code\": \"MA\"}, {\"name\": \"Nepal\", \"code\": \"NP\"}, {\"name\": \"Netherlands\", \"code\": \"NL\"}, {\"name\": \"New Zealand\", \"code\": \"NZ\"}, {\"name\": \"Nicaragua\", \"code\": \"NI\"}, {\"name\": \"Nigeria\", \"code\": \"NG\"}, {\"name\": \"Norfolk Island\", \"code\": \"NF\"}, {\"name\": \"Norway\", \"code\": \"NO\"}, {\"name\": \"Pakistan\", \"code\": \"PK\"}, {\"name\": \"Paraguay\", \"code\": \"PY\"}, {\"name\": \"Philippines\", \"code\": \"PH\"}, {\"name\": \"Poland\", \"code\": \"PL\"}, {\"name\": \"Portugal\", \"code\": \"PT\"}, {\"name\": \"Qatar\", \"code\": \"QA\"}, {\"name\": \"Republic of North Macedonia\", \"code\": \"MK\"}, {\"name\": \"Romania\", \"code\": \"RO\"}, {\"name\": \"Russian Federation\", \"code\": \"RU\"}, {\"name\": \"Saudi Arabia\", \"code\": \"SA\"}, {\"name\": \"Serbia\", \"code\": \"RS\"}, {\"name\": \"Seychelles\", \"code\": \"SC\"}, {\"name\": \"Singapore\", \"code\": \"SG\"}, {\"name\": \"Slovakia\", \"code\": \"SK\"}, {\"name\": \"Slovenia\", \"code\": \"SI\"}, {\"name\": \"South Africa\", \"code\": \"ZA\"}, {\"name\": \"Spain\", \"code\": \"ES\"}, {\"name\": \"Sweden\", \"code\": \"SE\"}, {\"name\": \"Switzerland\", \"code\": \"CH\"}, {\"name\": \"Thailand\", \"code\": \"TH\"}, {\"name\": \"Trinidad and Tobago\", \"code\": \"TT\"}, {\"name\": \"Tunisia\", \"code\": \"TN\"}, {\"name\": \"Turkey\", \"code\": \"TR\"}, {\"name\": \"Ukraine\", \"code\": \"UA\"}, {\"name\": \"United Arab Emirates\", \"code\": \"AE\"}, {\"name\": \"United Kingdom of Great Britain and Northern Ireland\", \"code\": \"GB\"}, {\"name\": \"United States of America\", \"code\": \"US\"}, {\"name\": \"Uruguay\", \"code\": \"UY\"}, {\"name\": \"Uzbekistan\", \"code\": \"UZ\"}, {\"name\": \"Venezuela\", \"code\": \"VE\"}];\nconsole.log(\"Countries List Size: \"+options.length);\nfor (var i = 0; i<options.length; i++){\n    var name = options[i][\"name\"];\n    var code = options[i][\"code\"];\n    var obj = {};\n    obj[name] = code;\n    res.push(obj);\n}\nmsg.options = res;\n// console.log(res);\nmsg.topic = \"Countries\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "e7c3e90aa185a11e",
                "fc74116f3214a6df"
            ]
        ]
    },
    {
        "id": "abb29c7122a0aaef",
        "type": "function",
        "z": "f3d84fa3b7dfd7c1",
        "name": "function 28",
        "func": "// resets - initializes vars\nglobal.set('current_cities', []);\nglobal.set('current_counter', 0);\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "07c2498f17a87e52",
        "type": "ui_group",
        "name": "App",
        "tab": "827648a1f0835a07",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "827648a1f0835a07",
        "type": "ui_tab",
        "name": "Smart City App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]