gui.json
[
    {
        "id": "ac26701193bf90fc",
        "type": "tab",
        "label": "Ergasia - GUI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3b35de9881f1a38",
        "type": "http request",
        "z": "ac26701193bf90fc",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "85ec951ce35b16d6",
                "c5856125646780db"
            ]
        ]
    },
    {
        "id": "ac6d039055cbd699",
        "type": "function",
        "z": "ac26701193bf90fc",
        "name": "USER CHOOSE COUNTRY",
        "func": "var country_code = msg.payload; // user sets this.\n// sees if the country is already saved:\nif (global.keys().includes(country_code)) {\n    if(global.get(country_code)) {\n        msg.payload = \"Did not save country - it already exists.\"\n        return [null, msg];\n    }\n}\nglobal.set(country_code, 1);\nvar username = global.get(\"username\");\nmsg.url = \"http://api.geonames.org/searchJSON?country=\" + country_code + \"&username=\"+username;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "382bf869a618f8f1",
                "b3b35de9881f1a38"
            ],
            [
                "20400465a10fa73e"
            ]
        ]
    },
    {
        "id": "fef2041a640d0a81",
        "type": "comment",
        "z": "ac26701193bf90fc",
        "name": "Sends link for chosen country",
        "info": "Sends link for chosen country",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "4bb1d90d782561b1",
        "type": "ui_dropdown",
        "z": "ac26701193bf90fc",
        "name": "",
        "label": "Countries",
        "tooltip": "Select a country",
        "place": "Select a country",
        "group": "07c2498f17a87e52",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ac6d039055cbd699",
                "e69b6b108373644e"
            ]
        ]
    },
    {
        "id": "2a974e9c118bdd14",
        "type": "inject",
        "z": "ac26701193bf90fc",
        "name": "INITIALIZE DROPDOWN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "0dd070ac78a0f7bb",
                "ed1ae0b7a1dfc6b1"
            ]
        ]
    },
    {
        "id": "382bf869a618f8f1",
        "type": "debug",
        "z": "ac26701193bf90fc",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "70d325dc73314f11",
        "type": "inject",
        "z": "ac26701193bf90fc",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "options",
                "v": "[]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "4bb1d90d782561b1"
            ]
        ]
    },
    {
        "id": "85ec951ce35b16d6",
        "type": "debug",
        "z": "ac26701193bf90fc",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5856125646780db",
        "type": "function",
        "z": "ac26701193bf90fc",
        "name": "CHECK EXISTS",
        "func": "if (msg.payload.totalResultsCount > 0) {\n    return [msg, null]\n} else {\n    msg.payload = \"Country does not exist.\"\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "6b99f6e37091c9bc",
                "f56b2158af468c6d"
            ],
            []
        ]
    },
    {
        "id": "6b99f6e37091c9bc",
        "type": "debug",
        "z": "ac26701193bf90fc",
        "name": "Country exists",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "f56b2158af468c6d",
        "type": "link out",
        "z": "ac26701193bf90fc",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "b4fbdf757e413517"
        ],
        "x": 1145,
        "y": 160,
        "wires": []
    },
    {
        "id": "0dd070ac78a0f7bb",
        "type": "link out",
        "z": "ac26701193bf90fc",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "546dc51c5175f608",
            "c04498d84a7e9864"
        ],
        "x": 355,
        "y": 360,
        "wires": []
    },
    {
        "id": "e69b6b108373644e",
        "type": "link out",
        "z": "ac26701193bf90fc",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "429fd2ffe312f1c6",
            "7fb51c46ee1e1959"
        ],
        "x": 625,
        "y": 260,
        "wires": []
    },
    {
        "id": "855c6119e9b2f908",
        "type": "comment",
        "z": "ac26701193bf90fc",
        "name": "DROPS TABLE",
        "info": "",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "698cdd89bc574d43",
        "type": "comment",
        "z": "ac26701193bf90fc",
        "name": "CREATES TABLE",
        "info": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "580d6865fd434003",
        "type": "change",
        "z": "ac26701193bf90fc",
        "name": "GLOBAL USER CONFIG",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "global",
                "to": "yourusername",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "20400465a10fa73e",
        "type": "debug",
        "z": "ac26701193bf90fc",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed1ae0b7a1dfc6b1",
        "type": "function",
        "z": "ac26701193bf90fc",
        "name": "ALL COUNTRIES",
        "func": "var res = [];\nvar options = [{\"name\": \"Armenia\", \"code\": \"AM\"}, {\"name\": \"Aruba\", \"code\": \"AW\"}, {\"name\": \"Australia\", \"code\": \"AU\"}, {\"name\": \"Belarus\", \"code\": \"BY\"}, {\"name\": \"Belgium\", \"code\": \"BE\"}, {\"name\": \"Bosnia and Herzegovina\", \"code\": \"BA\"}, {\"name\": \"Brazil\", \"code\": \"BR\"}, {\"name\": \"Bulgaria\", \"code\": \"BG\"}, {\"name\": \"Cameroon\", \"code\": \"CM\"}, {\"name\": \"Canada\", \"code\": \"CA\"}, {\"name\": \"Cayman Islands\", \"code\": \"KY\"}, {\"name\": \"Chile\", \"code\": \"CL\"}, {\"name\": \"China\", \"code\": \"CN\"}, {\"name\": \"Colombia\", \"code\": \"CO\"}, {\"name\": \"Comoros\", \"code\": \"KM\"}, {\"name\": \"Croatia\", \"code\": \"HR\"}, {\"name\": \"Cuba\", \"code\": \"CU\"}, {\"name\": \"Cyprus\", \"code\": \"CY\"}, {\"name\": \"Czechia\", \"code\": \"CZ\"}, {\"name\": \"Denmark\", \"code\": \"DK\"}, {\"name\": \"Ecuador\", \"code\": \"EC\"}, {\"name\": \"Egypt\", \"code\": \"EG\"}, {\"name\": \"Estonia\", \"code\": \"EE\"}, {\"name\": \"Finland\", \"code\": \"FI\"}, {\"name\": \"France\", \"code\": \"FR\"}, {\"name\": \"French Southern Territories\", \"code\": \"TF\"}, {\"name\": \"Georgia\", \"code\": \"GE\"}, {\"name\": \"Germany\", \"code\": \"DE\"}, {\"name\": \"Gibraltar\", \"code\": \"GI\"}, {\"name\": \"Greece\", \"code\": \"GR\"}, {\"name\": \"Grenada\", \"code\": \"GD\"}, {\"name\": \"Guyana\", \"code\": \"GY\"}, {\"name\": \"Hungary\", \"code\": \"HU\"}, {\"name\": \"India\", \"code\": \"IN\"}, {\"name\": \"Indonesia\", \"code\": \"ID\"}, {\"name\": \"Iran\", \"code\": \"IR\"}, {\"name\": \"Ireland\", \"code\": \"IE\"}, {\"name\": \"Italy\", \"code\": \"IT\"}, {\"name\": \"Jamaica\", \"code\": \"JM\"}, {\"name\": \"Japan\", \"code\": \"JP\"}, {\"name\": \"Kazakhstan\", \"code\": \"KZ\"}, {\"name\": \"Kenya\", \"code\": \"KE\"}, {\"name\": \"Korea\", \"code\": \"KR\"}, {\"name\": \"Latvia\", \"code\": \"LV\"}, {\"name\": \"Lebanon\", \"code\": \"LB\"}, {\"name\": \"Lithuania\", \"code\": \"LT\"}, {\"name\": \"Luxembourg\", \"code\": \"LU\"}, {\"name\": \"Malta\", \"code\": \"MT\"}, {\"name\": \"Mexico\", \"code\": \"MX\"}, {\"name\": \"Moldova\", \"code\": \"MD\"}, {\"name\": \"Morocco\", \"code\": \"MA\"}, {\"name\": \"Nepal\", \"code\": \"NP\"}, {\"name\": \"Netherlands\", \"code\": \"NL\"}, {\"name\": \"New Zealand\", \"code\": \"NZ\"}, {\"name\": \"Nicaragua\", \"code\": \"NI\"}, {\"name\": \"Nigeria\", \"code\": \"NG\"}, {\"name\": \"Norfolk Island\", \"code\": \"NF\"}, {\"name\": \"Norway\", \"code\": \"NO\"}, {\"name\": \"Pakistan\", \"code\": \"PK\"}, {\"name\": \"Paraguay\", \"code\": \"PY\"}, {\"name\": \"Philippines\", \"code\": \"PH\"}, {\"name\": \"Poland\", \"code\": \"PL\"}, {\"name\": \"Portugal\", \"code\": \"PT\"}, {\"name\": \"Qatar\", \"code\": \"QA\"}, {\"name\": \"Republic of North Macedonia\", \"code\": \"MK\"}, {\"name\": \"Romania\", \"code\": \"RO\"}, {\"name\": \"Russian Federation\", \"code\": \"RU\"}, {\"name\": \"Saudi Arabia\", \"code\": \"SA\"}, {\"name\": \"Serbia\", \"code\": \"RS\"}, {\"name\": \"Seychelles\", \"code\": \"SC\"}, {\"name\": \"Singapore\", \"code\": \"SG\"}, {\"name\": \"Slovakia\", \"code\": \"SK\"}, {\"name\": \"Slovenia\", \"code\": \"SI\"}, {\"name\": \"South Africa\", \"code\": \"ZA\"}, {\"name\": \"Spain\", \"code\": \"ES\"}, {\"name\": \"Sweden\", \"code\": \"SE\"}, {\"name\": \"Switzerland\", \"code\": \"CH\"}, {\"name\": \"Thailand\", \"code\": \"TH\"}, {\"name\": \"Trinidad and Tobago\", \"code\": \"TT\"}, {\"name\": \"Tunisia\", \"code\": \"TN\"}, {\"name\": \"Turkey\", \"code\": \"TR\"}, {\"name\": \"Ukraine\", \"code\": \"UA\"}, {\"name\": \"United Arab Emirates\", \"code\": \"AE\"}, {\"name\": \"United Kingdom of Great Britain and Northern Ireland\", \"code\": \"GB\"}, {\"name\": \"United States of America\", \"code\": \"US\"}, {\"name\": \"Uruguay\", \"code\": \"UY\"}, {\"name\": \"Uzbekistan\", \"code\": \"UZ\"}, {\"name\": \"Venezuela\", \"code\": \"VE\"}];\nconsole.log(\"Countries List Size: \"+options.length);\nfor (var i = 0; i<options.length; i++){\n    var name = options[i][\"name\"];\n    var code = options[i][\"code\"];\n    var obj = {};\n    obj[name] = code;\n    res.push(obj);\n}\nmsg.options = res;\n// console.log(res);\nmsg.topic = \"Countries\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "580d6865fd434003",
                "4bb1d90d782561b1"
            ]
        ]
    },
    {
        "id": "07c2498f17a87e52",
        "type": "ui_group",
        "name": "Countries",
        "tab": "827648a1f0835a07",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "827648a1f0835a07",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]