image.json
[
    {
        "id": "21c04130047e897c",
        "type": "tab",
        "label": "ImageFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3337dce47260026e",
        "type": "link in",
        "z": "21c04130047e897c",
        "name": "city_weather",
        "links": [
            "9024879749c113a6"
        ],
        "x": 105,
        "y": 260,
        "wires": [
            [
                "a7c62cc700cd623b"
            ]
        ]
    },
    {
        "id": "d812ee77bddd700b",
        "type": "http request",
        "z": "21c04130047e897c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "8faaf4500ad73b70",
                "ebbeb36189e778f3"
            ]
        ]
    },
    {
        "id": "8faaf4500ad73b70",
        "type": "debug",
        "z": "21c04130047e897c",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ecc1299e4736a8e",
        "type": "function",
        "z": "21c04130047e897c",
        "name": "CREATE TABLE WEATHER",
        "func": "msg.topic = \"CREATE TABLE IF NOT EXISTS image_table (web_img_url TEXT, mob_img_url TEXT, city_name TEXT, lat REAL, lng REAL, geonameId INTEGER, CONSTRAINT unique_city_img UNIQUE(geonameId, mob_img_url, web_img_url), FOREIGN KEY(geonameId) REFERENCES cities_table(geonameId)) \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "5a923e1e162dd5f9"
            ]
        ]
    },
    {
        "id": "d985811bb4a0436d",
        "type": "inject",
        "z": "21c04130047e897c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "0ecc1299e4736a8e"
            ]
        ]
    },
    {
        "id": "8d895d57dc7c1f8b",
        "type": "inject",
        "z": "21c04130047e897c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "8293d5c2e03cda12"
            ]
        ]
    },
    {
        "id": "8293d5c2e03cda12",
        "type": "function",
        "z": "21c04130047e897c",
        "name": "DROP TABLE WEATHER",
        "func": "msg.topic = \"drop table if exists image_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "5a923e1e162dd5f9"
            ]
        ]
    },
    {
        "id": "11d6dfa4ece6b4ea",
        "type": "link in",
        "z": "21c04130047e897c",
        "name": "drop_table_link",
        "links": [
            "d733e60c57dc3044"
        ],
        "x": 1085,
        "y": 280,
        "wires": [
            [
                "8293d5c2e03cda12"
            ]
        ]
    },
    {
        "id": "4f8ec7b59671a804",
        "type": "link in",
        "z": "21c04130047e897c",
        "name": "create_table_link",
        "links": [
            "7b6a51fd13596c7f"
        ],
        "x": 1025,
        "y": 100,
        "wires": [
            [
                "0ecc1299e4736a8e"
            ]
        ]
    },
    {
        "id": "5a923e1e162dd5f9",
        "type": "sqlite",
        "z": "21c04130047e897c",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "2b17673d772fc261"
            ]
        ]
    },
    {
        "id": "2ad47c9a6c622e26",
        "type": "sqlite",
        "z": "21c04130047e897c",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "5e7d9e80ad4fd9dc",
                "8a10309eb2275a3d"
            ]
        ]
    },
    {
        "id": "5e7d9e80ad4fd9dc",
        "type": "debug",
        "z": "21c04130047e897c",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "2b17673d772fc261",
        "type": "debug",
        "z": "21c04130047e897c",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 180,
        "wires": []
    },
    {
        "id": "a7c62cc700cd623b",
        "type": "function",
        "z": "21c04130047e897c",
        "name": "function 19",
        "func": "var city = msg.payload;\nvar options = [];\nmsg.url = `https://api.teleport.org/api/urban_areas/slug:${city.city_name}/images/`\nmsg.city_name = city.city_name;\nmsg.city_lat = city.lat;\nmsg.city_lng = city.lng;\nmsg.geonameId = city.geonameId;\n// console.log(city.city_name);\n// global.set(\"city_name\", city.city_name);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "d812ee77bddd700b"
            ]
        ]
    },
    {
        "id": "ebbeb36189e778f3",
        "type": "function",
        "z": "21c04130047e897c",
        "name": "function 20",
        "func": "var photos = msg.payload.photos;\nvar mobile_url = \"\";\nvar web_url = \"\";\nfor (var i = 0; i < photos.length; i ++) {\n    mobile_url = photos[i].image.mobile;\n    web_url = photos[i].image.web;\n}\n\nmsg.topic = `INSERT OR IGNORE INTO image_table (web_img_url, mob_img_url, city_name, lat, lng, geonameId) VALUES ('${web_url}', '${mobile_url}', '${msg.city_name}', ${msg.city_lat}, ${msg.city_lng}, ${msg.geonameId})`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "ad9c7e898bc4ae49",
                "2ad47c9a6c622e26"
            ]
        ]
    },
    {
        "id": "ad9c7e898bc4ae49",
        "type": "debug",
        "z": "21c04130047e897c",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a10309eb2275a3d",
        "type": "link out",
        "z": "21c04130047e897c",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "46a1769d38a875c1"
        ],
        "x": 1075,
        "y": 360,
        "wires": []
    },
    {
        "id": "011e0aeb13be64bb",
        "type": "comment",
        "z": "21c04130047e897c",
        "name": "Ergasia - Main Flow -> link out 5",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "533dd446b31306c6",
        "type": "comment",
        "z": "21c04130047e897c",
        "name": "GUI City Results -> GUI show cities",
        "info": "",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "cbaf7b2813febd6c",
        "type": "comment",
        "z": "21c04130047e897c",
        "name": "Ergasia - GUI -> link out 3",
        "info": "",
        "x": 1230,
        "y": 300,
        "wires": []
    },
    {
        "id": "b5207ba4b65b2625",
        "type": "comment",
        "z": "21c04130047e897c",
        "name": "Ergasia - GUI -> link out 4",
        "info": "",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]