image.json
[
    {
        "id": "dd99852286de1720",
        "type": "tab",
        "label": "ImageFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40975a27db9de81a",
        "type": "link in",
        "z": "dd99852286de1720",
        "name": "city_weather",
        "links": [
            "8a5041354fd17b83"
        ],
        "x": 105,
        "y": 260,
        "wires": [
            [
                "06d8b9e4386734c9"
            ]
        ]
    },
    {
        "id": "a6026be793fd581e",
        "type": "http request",
        "z": "dd99852286de1720",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "c53e3d80a81a426a",
                "606dfd4d52c02f8a"
            ]
        ]
    },
    {
        "id": "c53e3d80a81a426a",
        "type": "debug",
        "z": "dd99852286de1720",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "13cf7b13fe0d5cc9",
        "type": "function",
        "z": "dd99852286de1720",
        "name": "CREATE TABLE WEATHER",
        "func": "msg.topic = \"CREATE TABLE IF NOT EXISTS image_table (web_img_url TEXT, mob_img_url TEXT, city_name TEXT, lat REAL, lng REAL, geonameId INTEGER, CONSTRAINT unique_city_img UNIQUE(geonameId, mob_img_url, web_img_url), FOREIGN KEY(geonameId) REFERENCES cities_table(geonameId)) \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "20ef9fa317197ff6"
            ]
        ]
    },
    {
        "id": "ef554c0219845d1a",
        "type": "inject",
        "z": "dd99852286de1720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "13cf7b13fe0d5cc9"
            ]
        ]
    },
    {
        "id": "dfabb46bd7c19380",
        "type": "inject",
        "z": "dd99852286de1720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "9a383cbce5d8fe73"
            ]
        ]
    },
    {
        "id": "9a383cbce5d8fe73",
        "type": "function",
        "z": "dd99852286de1720",
        "name": "DROP TABLE WEATHER",
        "func": "msg.topic = \"drop table if exists image_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "20ef9fa317197ff6"
            ]
        ]
    },
    {
        "id": "4cae20100f3b630b",
        "type": "link in",
        "z": "dd99852286de1720",
        "name": "drop_table_link",
        "links": [
            "d733e60c57dc3044",
            "757cf2221969b73e",
            "3c30d614912d208d",
            "cf3236da2f96c10d"
        ],
        "x": 1085,
        "y": 280,
        "wires": [
            [
                "9a383cbce5d8fe73"
            ]
        ]
    },
    {
        "id": "b6c83eb1c422d85a",
        "type": "link in",
        "z": "dd99852286de1720",
        "name": "create_table_link",
        "links": [
            "d0071641d2391341",
            "7cc5845a99788727"
        ],
        "x": 1025,
        "y": 100,
        "wires": [
            [
                "13cf7b13fe0d5cc9"
            ]
        ]
    },
    {
        "id": "20ef9fa317197ff6",
        "type": "sqlite",
        "z": "dd99852286de1720",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "d4003e4ee3310fcd"
            ]
        ]
    },
    {
        "id": "5b8eea643f45603e",
        "type": "sqlite",
        "z": "dd99852286de1720",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "2487bab339b47305",
                "ca5a43528902f0c6"
            ]
        ]
    },
    {
        "id": "2487bab339b47305",
        "type": "debug",
        "z": "dd99852286de1720",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "d4003e4ee3310fcd",
        "type": "debug",
        "z": "dd99852286de1720",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 180,
        "wires": []
    },
    {
        "id": "06d8b9e4386734c9",
        "type": "function",
        "z": "dd99852286de1720",
        "name": "function 19",
        "func": "var city = msg.payload;\nvar options = [];\nmsg.url = `https://api.teleport.org/api/urban_areas/slug:${city.city_name}/images/`\nmsg.city_name = city.city_name;\nmsg.city_lat = city.lat;\nmsg.city_lng = city.lng;\nmsg.geonameId = city.geonameId;\n// console.log(city.city_name);\n// global.set(\"city_name\", city.city_name);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "a6026be793fd581e"
            ]
        ]
    },
    {
        "id": "606dfd4d52c02f8a",
        "type": "function",
        "z": "dd99852286de1720",
        "name": "function 20",
        "func": "var photos = msg.payload.photos;\nvar mobile_url = \"\";\nvar web_url = \"\";\nfor (var i = 0; i < photos.length; i ++) {\n    mobile_url = photos[i].image.mobile;\n    web_url = photos[i].image.web;\n}\n\nmsg.topic = `INSERT OR IGNORE INTO image_table (web_img_url, mob_img_url, city_name, lat, lng, geonameId) VALUES ('${web_url}', '${mobile_url}', '${msg.city_name}', ${msg.city_lat}, ${msg.city_lng}, ${msg.geonameId})`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "e1ffbf38e7dcf29d",
                "5b8eea643f45603e"
            ]
        ]
    },
    {
        "id": "e1ffbf38e7dcf29d",
        "type": "debug",
        "z": "dd99852286de1720",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "ca5a43528902f0c6",
        "type": "link out",
        "z": "dd99852286de1720",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "46a1769d38a875c1",
            "5ec4ffd97486bed2",
            "62829886068359ea",
            "c19e0776bba67885"
        ],
        "x": 1075,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5bb9979f31da2fb",
        "type": "comment",
        "z": "dd99852286de1720",
        "name": "Ergasia - Main Flow -> link out 5",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "5caef980aa577392",
        "type": "comment",
        "z": "dd99852286de1720",
        "name": "GUI City Results -> GUI show cities",
        "info": "",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "351ec23091908369",
        "type": "comment",
        "z": "dd99852286de1720",
        "name": "Ergasia - GUI -> link out 3",
        "info": "",
        "x": 1230,
        "y": 300,
        "wires": []
    },
    {
        "id": "491592bc9519fe87",
        "type": "comment",
        "z": "dd99852286de1720",
        "name": "Ergasia - GUI -> link out 4",
        "info": "",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]