image.json
[
    {
        "id": "7b8f89c8f2fe7acc",
        "type": "tab",
        "label": "ImageFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bce05adb70a37cf0",
        "type": "link in",
        "z": "7b8f89c8f2fe7acc",
        "name": "city_weather",
        "links": [
            "04d230d3e2b61d9d"
        ],
        "x": 105,
        "y": 260,
        "wires": [
            [
                "d698ed8cc6752b78"
            ]
        ]
    },
    {
        "id": "314dab18d3f42c5a",
        "type": "http request",
        "z": "7b8f89c8f2fe7acc",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "8646e398391a2d7a",
                "06ed4cfb6d95c3ed"
            ]
        ]
    },
    {
        "id": "8646e398391a2d7a",
        "type": "debug",
        "z": "7b8f89c8f2fe7acc",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "10ce70bc60fb6ad8",
        "type": "function",
        "z": "7b8f89c8f2fe7acc",
        "name": "CREATE TABLE WEATHER",
        "func": "msg.topic = \"CREATE TABLE IF NOT EXISTS image_table (web_img_url TEXT, mob_img_url TEXT, city_name TEXT, lat REAL, lng REAL, geonameId INTEGER, CONSTRAINT unique_city_img UNIQUE(geonameId, mob_img_url, web_img_url), FOREIGN KEY(geonameId) REFERENCES cities_table(geonameId)) \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "a434d10823237ec5"
            ]
        ]
    },
    {
        "id": "ee92462cf3a9f107",
        "type": "inject",
        "z": "7b8f89c8f2fe7acc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "10ce70bc60fb6ad8"
            ]
        ]
    },
    {
        "id": "b6320f1a76f93b58",
        "type": "inject",
        "z": "7b8f89c8f2fe7acc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "ca13953d2d27d27e"
            ]
        ]
    },
    {
        "id": "ca13953d2d27d27e",
        "type": "function",
        "z": "7b8f89c8f2fe7acc",
        "name": "DROP TABLE WEATHER",
        "func": "msg.topic = \"drop table if exists image_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "a434d10823237ec5"
            ]
        ]
    },
    {
        "id": "8cb10cb8f249e448",
        "type": "link in",
        "z": "7b8f89c8f2fe7acc",
        "name": "drop_table_link",
        "links": [
            "0dd070ac78a0f7bb",
            "8a8ae5ae3bb86981"
        ],
        "x": 1085,
        "y": 280,
        "wires": [
            [
                "ca13953d2d27d27e"
            ]
        ]
    },
    {
        "id": "910bc160281bd42c",
        "type": "link in",
        "z": "7b8f89c8f2fe7acc",
        "name": "create_table_link",
        "links": [
            "f054aeb1df64682e"
        ],
        "x": 1025,
        "y": 140,
        "wires": [
            [
                "10ce70bc60fb6ad8"
            ]
        ]
    },
    {
        "id": "a434d10823237ec5",
        "type": "sqlite",
        "z": "7b8f89c8f2fe7acc",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "35de26fcf0190c83"
            ]
        ]
    },
    {
        "id": "bb464ee3efe491ba",
        "type": "sqlite",
        "z": "7b8f89c8f2fe7acc",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "344c03f3f5b87ae8",
                "5ecb13b7b13954ac"
            ]
        ]
    },
    {
        "id": "344c03f3f5b87ae8",
        "type": "debug",
        "z": "7b8f89c8f2fe7acc",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "35de26fcf0190c83",
        "type": "debug",
        "z": "7b8f89c8f2fe7acc",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 180,
        "wires": []
    },
    {
        "id": "d698ed8cc6752b78",
        "type": "function",
        "z": "7b8f89c8f2fe7acc",
        "name": "function 19",
        "func": "var city = msg.payload;\nvar options = [];\nmsg.url = `https://api.teleport.org/api/urban_areas/slug:${city.city_name}/images/`\nmsg.city_name = city.city_name;\nmsg.city_lat = city.lat;\nmsg.city_lng = city.lng;\nmsg.geonameId = city.geonameId;\n// console.log(city.city_name);\n// global.set(\"city_name\", city.city_name);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "314dab18d3f42c5a"
            ]
        ]
    },
    {
        "id": "06ed4cfb6d95c3ed",
        "type": "function",
        "z": "7b8f89c8f2fe7acc",
        "name": "function 20",
        "func": "var photos = msg.payload.photos;\nvar mobile_url = \"\";\nvar web_url = \"\";\nfor (var i = 0; i < photos.length; i ++) {\n    mobile_url = photos[i].image.mobile;\n    web_url = photos[i].image.web;\n}\n\nmsg.topic = `INSERT OR IGNORE INTO image_table (web_img_url, mob_img_url, city_name, lat, lng, geonameId) VALUES ('${web_url}', '${mobile_url}', '${msg.city_name}', ${msg.city_lat}, ${msg.city_lng}, ${msg.geonameId})`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "7c970f3f7e7e012c",
                "bb464ee3efe491ba"
            ]
        ]
    },
    {
        "id": "7c970f3f7e7e012c",
        "type": "debug",
        "z": "7b8f89c8f2fe7acc",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ecb13b7b13954ac",
        "type": "link out",
        "z": "7b8f89c8f2fe7acc",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "ae16c71f544a9be8"
        ],
        "x": 1055,
        "y": 360,
        "wires": []
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]