main.json
[
    {
        "id": "d74585856a7c013f",
        "type": "tab",
        "label": "Ergasia Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a74be64d38999f11",
        "type": "http request",
        "z": "d74585856a7c013f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 320,
        "wires": [
            [
                "92ac1078c6f63ee9",
                "5a4ec39eca1d44b6"
            ]
        ]
    },
    {
        "id": "242d3720026ee8ca",
        "type": "change",
        "z": "d74585856a7c013f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.city_url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "a74be64d38999f11"
            ]
        ]
    },
    {
        "id": "92ac1078c6f63ee9",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "3367bc0fa63cd108",
        "type": "inject",
        "z": "d74585856a7c013f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "e7646bd1d153effc"
            ]
        ]
    },
    {
        "id": "e7646bd1d153effc",
        "type": "http request",
        "z": "d74585856a7c013f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.geonames.org/searchJSON?country=DE&username=yourusername",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 330,
        "y": 340,
        "wires": [
            [
                "fb65179e6508585a",
                "106db0e90b751d61"
            ]
        ]
    },
    {
        "id": "fb65179e6508585a",
        "type": "function",
        "z": "d74585856a7c013f",
        "name": "function 6",
        "func": "var countries = msg.payload.geonames;\nvar options = [];\nfor (var i = 0; i < countries.length; i++) {\n    var city = countries[i];\n    // global.set(\"country_code\", city.countryCode);\n    if (city.fclName.includes(\"city\")){\n        options.push({\n            city: city.toponymName.toLowerCase(),\n            city_url: \"https://api.teleport.org/api/urban_areas/slug:\" + city.toponymName.toLowerCase()+\"/scores/\",\n        });\n        try{\n            var myDict = { lat: city.lat, lng: city.lng, country_code: city.countryCode };\n            global.set(city.toponymName.toLowerCase(), myDict);\n        } catch (error) {\n            // do nothing\n        }\n    }\n}\n// msg.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\";\n// msg.payload.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\"\nmsg.payload = options;\n// msg.options = options;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 420,
        "wires": [
            [
                "8fbb2b5ff522481f"
            ]
        ]
    },
    {
        "id": "8fbb2b5ff522481f",
        "type": "split",
        "z": "d74585856a7c013f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "242d3720026ee8ca",
                "ba8bf575034371e9"
            ]
        ]
    },
    {
        "id": "ba8bf575034371e9",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "5a4ec39eca1d44b6",
        "type": "function",
        "z": "d74585856a7c013f",
        "name": "function 7",
        "func": "var options = {};\ntry {\n    var payload = JSON.parse(msg.payload);\n    // msg.payload = JSON.parse(msg.payload);\n    if (payload.status === 404) {\n        return [null, msg];\n    }\n    var url = payload._links.self.href;\n\n    var start = url.indexOf(\"slug:\") + 5; // Get the index of \"slug:\" and add 5 to skip over it\n    var end = url.indexOf(\"/\", start); // Get the index of the next \"/\" after \"slug:\"\n    var citySlug = url.substring(start, end);\n\n    options.city_name = citySlug;\n    //options.city_summary = payload.summary.replace(/(<([^>]+)>)/gi, \"\").trim();\n    options.city_summary = payload.summary  // Remove HTML tags using regex\n        .replace(/<\\/?[^>]+(>|$)/g, \"\")\n        // Replace newline characters with empty string\n        .replace(/\\n/g, \"\")\n        .replace(/['\"]/g, \"\")\n        // Trim any remaining whitespace from beginning and end\n        .trim();\n\n    // options.country_code = global.get(\"country_code\");\n    for (var i = 0; i < payload.categories.length; i++) {\n        var categ = payload.categories[i];\n        var key = categ.name.replace(/[\\s&]+/g, '_').replace(/_{2,}/g, '_');\n        options[key.toLowerCase()] = categ.score_out_of_10;\n    }\n\n    var city_saved = global.get(citySlug);  \n    // console.log(global.get(citySlug).lat);\n    options.lat = city_saved.lat;\n    options.lng = city_saved.lng;\n    options.country_code = city_saved.country_code;\n    msg.payload = options;\n    return [msg, null];\n} catch (error) {\n    // does nothing\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "1eda50e5ae6fe553",
                "502241ab429ac74f"
            ],
            []
        ]
    },
    {
        "id": "1eda50e5ae6fe553",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a3736b40a30b0d3",
        "type": "sqlite",
        "z": "d74585856a7c013f",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "502241ab429ac74f",
        "type": "function",
        "z": "d74585856a7c013f",
        "name": "INSERT DATABASE",
        "func": "var keys = Object.keys(msg.payload);\n// console.log(keys);\n// Generate the SQL statement dynamically\nvar sql_create = 'CREATE TABLE IF NOT EXISTS cities_table (' + keys.join(', ') + ', PRIMARY KEY (city_name))';\nvar sql = 'INSERT OR IGNORE INTO cities_table (' + keys.join(', ') + ') VALUES (';\nsql += keys.map(function (key) { return \"'\" + msg.payload[key] + \"'\"; }).join(', ');\nsql += ')';\n//msg.topic = [sql_create, sql];\nvar create_msg = {};\ncreate_msg.topic = sql_create;\nmsg.topic = sql;\nreturn [create_msg, msg];\n\n//msg.payload = options;\n//return [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 400,
        "wires": [
            [
                "e387502c74f6ef94"
            ],
            [
                "c9b1d11511e41471"
            ]
        ]
    },
    {
        "id": "343ac9cce077aa82",
        "type": "function",
        "z": "d74585856a7c013f",
        "name": "CREATE TABLE",
        "func": "msg.topic = 'create table if not exists cities_table(city_name PRIMARY KEY, city_summary, housing, cost_of_living, startups, venture_capital, travel_connectivity, commute, business_freedom, safety, healthcare, education, environmental_quality, economy, taxation, internet_access, leisure_culture, tolerance, outdoors, country_code, lat, lng)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 520,
        "wires": [
            [
                "1a3736b40a30b0d3"
            ]
        ]
    },
    {
        "id": "ed4efa235555ad39",
        "type": "inject",
        "z": "d74585856a7c013f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 560,
        "wires": [
            [
                "343ac9cce077aa82"
            ]
        ]
    },
    {
        "id": "a6e4942517d4b8bc",
        "type": "inject",
        "z": "d74585856a7c013f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 620,
        "wires": [
            [
                "d0457c817017e63d"
            ]
        ]
    },
    {
        "id": "d0457c817017e63d",
        "type": "function",
        "z": "d74585856a7c013f",
        "name": "DROP DATABASE",
        "func": "msg.topic = \"drop table if exists cities_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "1a3736b40a30b0d3"
            ]
        ]
    },
    {
        "id": "e387502c74f6ef94",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9b1d11511e41471",
        "type": "sqlite",
        "z": "d74585856a7c013f",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "4155d3f0546e6f0b"
            ]
        ]
    },
    {
        "id": "4155d3f0546e6f0b",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ce2148e5856802f",
        "type": "link in",
        "z": "d74585856a7c013f",
        "name": "Function Call Countries",
        "links": [
            "f56b2158af468c6d"
        ],
        "x": 295,
        "y": 420,
        "wires": [
            [
                "fb65179e6508585a"
            ]
        ]
    },
    {
        "id": "106db0e90b751d61",
        "type": "debug",
        "z": "d74585856a7c013f",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "39aae29ebbb8b5ca",
        "type": "link in",
        "z": "d74585856a7c013f",
        "name": "drop_table_link",
        "links": [
            "0dd070ac78a0f7bb"
        ],
        "x": 1125,
        "y": 640,
        "wires": [
            [
                "d0457c817017e63d"
            ]
        ]
    },
    {
        "id": "ff745538a06de55c",
        "type": "link in",
        "z": "d74585856a7c013f",
        "name": "create_table_link",
        "links": [
            "e69b6b108373644e"
        ],
        "x": 1065,
        "y": 500,
        "wires": [
            [
                "343ac9cce077aa82"
            ]
        ]
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]