main.json
[
    {
        "id": "c08185895724dd88",
        "type": "tab",
        "label": "Ergasia - Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed44396dbb655794",
        "type": "http request",
        "z": "c08185895724dd88",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 320,
        "wires": [
            [
                "a78e3714540124ba",
                "e582c6c6fc59f3e4"
            ]
        ]
    },
    {
        "id": "a78e3714540124ba",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "14e9897d59d75d22",
        "type": "http request",
        "z": "c08185895724dd88",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "7c18141e26f5a32c",
                "cf7e174f15a03deb"
            ]
        ]
    },
    {
        "id": "7c18141e26f5a32c",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "function 6",
        "func": "var countries = msg.payload.geonames;\nvar options = [];\nfor (var i = 0; i < countries.length; i++) {\n    var city = countries[i];\n    // global.set(\"country_code\", city.countryCode);\n    if (city.fclName.includes(\"city\")){\n        options.push({\n            city: city.toponymName.toLowerCase(),\n            city_url: \"https://api.teleport.org/api/urban_areas/slug:\" + city.toponymName.toLowerCase()+\"/scores/\",\n            lat: city.lat,\n            lng: city.lng,\n            country_code: city.countryCode \n        });\n    }\n}\n// msg.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\";\n// msg.payload.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\"\nmsg.payload = options;\n// msg.options = options;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "68e5bc0a36aefe99"
            ]
        ]
    },
    {
        "id": "68e5bc0a36aefe99",
        "type": "split",
        "z": "c08185895724dd88",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "c10f9db9b79e8f99",
                "bd02225e15919e51"
            ]
        ]
    },
    {
        "id": "c10f9db9b79e8f99",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "e582c6c6fc59f3e4",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "function 7",
        "func": "var options = {};\ntry {\n    // console.log(msg.city);\n    var payload = JSON.parse(msg.payload);\n    // msg.payload = JSON.parse(msg.payload);\n    if (payload.status === 404) {\n        return [null, msg];\n    }\n    var url = payload._links.self.href;\n\n    var start = url.indexOf(\"slug:\") + 5; // Get the index of \"slug:\" and add 5 to skip over it\n    var end = url.indexOf(\"/\", start); // Get the index of the next \"/\" after \"slug:\"\n    var citySlug = url.substring(start, end);\n\n    options.city_name = citySlug;\n    //options.city_summary = payload.summary.replace(/(<([^>]+)>)/gi, \"\").trim();\n    options.city_summary = payload.summary  // Remove HTML tags using regex\n        .replace(/<\\/?[^>]+(>|$)/g, \"\")\n        // Replace newline characters with empty string\n        .replace(/\\n/g, \"\")\n        .replace(/['\"]/g, \"\")\n        // Trim any remaining whitespace from beginning and end\n        .trim();\n\n    for (var i = 0; i < payload.categories.length; i++) {\n        var categ = payload.categories[i];\n        var key = categ.name.replace(/[\\s&]+/g, '_').replace(/_{2,}/g, '_');\n        options[key.toLowerCase()] = categ.score_out_of_10;\n    }\n\n    var city_saved = msg.city; \n    options.lat = city_saved.lat;\n    options.lng = city_saved.lng;\n    options.country_code = city_saved.country_code;\n    msg.payload = options;\n    return [msg, null];\n} catch (error) {\n    // does nothing\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "d5c5fbcf1cfe0bd6",
                "e3ce243308f9e186"
            ],
            []
        ]
    },
    {
        "id": "d5c5fbcf1cfe0bd6",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "3eb2aa6aceb957f6",
        "type": "sqlite",
        "z": "c08185895724dd88",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e3ce243308f9e186",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "INSERT DATABASE",
        "func": "var keys = Object.keys(msg.payload);\n// console.log(keys);\n// Generate the SQL statement dynamically\nvar sql_create = 'CREATE TABLE IF NOT EXISTS cities_table (' + keys.join(', ') + ', PRIMARY KEY (city_name))';\nvar sql = 'INSERT OR IGNORE INTO cities_table (' + keys.join(', ') + ') VALUES (';\nsql += keys.map(function (key) { return \"'\" + msg.payload[key] + \"'\"; }).join(', ');\nsql += ')';\n//msg.topic = [sql_create, sql];\nvar create_msg = {};\ncreate_msg.topic = sql_create;\nmsg.topic = sql;\nreturn [create_msg, msg];\n\n//msg.payload = options;\n//return [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 400,
        "wires": [
            [
                "399bfd2c69042ed2"
            ],
            [
                "ae5f33cbe00a51f7",
                "db34c6b93cb9fa87"
            ]
        ]
    },
    {
        "id": "024ec50492343ed9",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "CREATE TABLE",
        "func": "msg.topic = 'create table if not exists cities_table(city_name PRIMARY KEY, city_summary, housing, cost_of_living, startups, venture_capital, travel_connectivity, commute, business_freedom, safety, healthcare, education, environmental_quality, economy, taxation, internet_access, leisure_culture, tolerance, outdoors, country_code, lat, lng)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 520,
        "wires": [
            [
                "3eb2aa6aceb957f6"
            ]
        ]
    },
    {
        "id": "ab045dc905e2d95a",
        "type": "inject",
        "z": "c08185895724dd88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 560,
        "wires": [
            [
                "024ec50492343ed9"
            ]
        ]
    },
    {
        "id": "6c685490e8f5a963",
        "type": "inject",
        "z": "c08185895724dd88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 620,
        "wires": [
            [
                "a9a30bd22d71834b"
            ]
        ]
    },
    {
        "id": "a9a30bd22d71834b",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "DROP DATABASE",
        "func": "msg.topic = \"drop table if exists cities_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "3eb2aa6aceb957f6"
            ]
        ]
    },
    {
        "id": "399bfd2c69042ed2",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "ae5f33cbe00a51f7",
        "type": "sqlite",
        "z": "c08185895724dd88",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "5be7492bafb7a177"
            ]
        ]
    },
    {
        "id": "5be7492bafb7a177",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 320,
        "wires": []
    },
    {
        "id": "9fd5521dfc8924cb",
        "type": "link in",
        "z": "c08185895724dd88",
        "name": "Function Call Countries",
        "links": [
            "f56b2158af468c6d"
        ],
        "x": 185,
        "y": 420,
        "wires": [
            [
                "7c18141e26f5a32c"
            ]
        ]
    },
    {
        "id": "cf7e174f15a03deb",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "b1e369ed55904903",
        "type": "link in",
        "z": "c08185895724dd88",
        "name": "drop_table_link",
        "links": [
            "8911e132a953726d",
            "6e49cd495f22bfe9",
            "32c0444b80bcc948",
            "cf73e43c155983ac"
        ],
        "x": 1125,
        "y": 640,
        "wires": [
            [
                "a9a30bd22d71834b"
            ]
        ]
    },
    {
        "id": "4bee23d40f342517",
        "type": "link in",
        "z": "c08185895724dd88",
        "name": "create_table_link",
        "links": [
            "8e8505dcb65ee7d9",
            "b7ce6d1391dbdb55",
            "48cfee4238c2f6bb"
        ],
        "x": 1065,
        "y": 500,
        "wires": [
            [
                "024ec50492343ed9"
            ]
        ]
    },
    {
        "id": "ace70d97f2c0d089",
        "type": "debug",
        "z": "c08185895724dd88",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 440,
        "wires": []
    },
    {
        "id": "db34c6b93cb9fa87",
        "type": "change",
        "z": "c08185895724dd88",
        "name": "GIVES CITY OBJ",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "ace70d97f2c0d089",
                "416ea1fcef10157c"
            ]
        ]
    },
    {
        "id": "416ea1fcef10157c",
        "type": "link out",
        "z": "c08185895724dd88",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "c212068ce4b7d3a3",
            "97e26c759d2014c3",
            "01127155e278bbe8"
        ],
        "x": 1895,
        "y": 500,
        "wires": []
    },
    {
        "id": "bd02225e15919e51",
        "type": "change",
        "z": "c08185895724dd88",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.city_url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "city",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 420,
        "wires": [
            [
                "ed44396dbb655794"
            ]
        ]
    },
    {
        "id": "d76fe19a3fd26d11",
        "type": "function",
        "z": "c08185895724dd88",
        "name": "function 22",
        "func": "var username = global.get(\"username\");\nmsg.url = \"http://api.geonames.org/searchJSON?country=DE&username=\" + username;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "14e9897d59d75d22"
            ]
        ]
    },
    {
        "id": "d3a2e00ee7eb9d6e",
        "type": "inject",
        "z": "c08185895724dd88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "d76fe19a3fd26d11"
            ]
        ]
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]