main.json
[
    {
        "id": "e07bb08050cb01c2",
        "type": "tab",
        "label": "Ergasia Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c15b259bedcacd00",
        "type": "http request",
        "z": "e07bb08050cb01c2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 910,
        "y": 320,
        "wires": [
            [
                "7f84ec2358719d82",
                "989e10c810473c1b"
            ]
        ]
    },
    {
        "id": "13191987b616b2a2",
        "type": "change",
        "z": "e07bb08050cb01c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.city_url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "c15b259bedcacd00"
            ]
        ]
    },
    {
        "id": "7f84ec2358719d82",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "c06bba585c8b8d43",
        "type": "inject",
        "z": "e07bb08050cb01c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "a1bd93c98ed0f71c"
            ]
        ]
    },
    {
        "id": "a1bd93c98ed0f71c",
        "type": "http request",
        "z": "e07bb08050cb01c2",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.geonames.org/searchJSON?country=DE&username=yourusername",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 330,
        "y": 340,
        "wires": [
            [
                "6e2f53a991a45798",
                "dbf57b46265f0cf7"
            ]
        ]
    },
    {
        "id": "6e2f53a991a45798",
        "type": "function",
        "z": "e07bb08050cb01c2",
        "name": "function 6",
        "func": "var countries = msg.payload.geonames;\nvar options = [];\nfor (var i = 0; i < countries.length; i++) {\n    var city = countries[i];\n    global.set(\"country_code\", city.countryCode);\n    if (city.fclName.includes(\"city\")){\n        options.push({\n            city: city.toponymName.toLowerCase(),\n            city_url: \"https://api.teleport.org/api/urban_areas/slug:\" + city.toponymName.toLowerCase()+\"/scores/\",\n        });\n    }\n}\n// msg.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\";\n// msg.payload.url = \"https://api.teleport.org/api/urban_areas/slug:athens/scores/\"\nmsg.payload = options;\n// msg.options = options;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 420,
        "wires": [
            [
                "26b7baca21d28bb8"
            ]
        ]
    },
    {
        "id": "26b7baca21d28bb8",
        "type": "split",
        "z": "e07bb08050cb01c2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "13191987b616b2a2",
                "9f6c20ed67df1df0"
            ]
        ]
    },
    {
        "id": "9f6c20ed67df1df0",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "989e10c810473c1b",
        "type": "function",
        "z": "e07bb08050cb01c2",
        "name": "function 7",
        "func": "var options = {};\ntry {\n    var payload = JSON.parse(msg.payload);\n    // msg.payload = JSON.parse(msg.payload);\n    if (payload.status === 404) {\n        return [null, msg];\n    }\n    var url = payload._links.self.href;\n\n    var start = url.indexOf(\"slug:\") + 5; // Get the index of \"slug:\" and add 5 to skip over it\n    var end = url.indexOf(\"/\", start); // Get the index of the next \"/\" after \"slug:\"\n    var citySlug = url.substring(start, end);\n\n    options.city_name = citySlug;\n    //options.city_summary = payload.summary.replace(/(<([^>]+)>)/gi, \"\").trim();\n    options.city_summary = payload.summary  // Remove HTML tags using regex\n        .replace(/<\\/?[^>]+(>|$)/g, \"\")\n        // Replace newline characters with empty string\n        .replace(/\\n/g, \"\")\n        .replace(/['\"]/g, \"\")\n        // Trim any remaining whitespace from beginning and end\n        .trim();\n\n    options.country_code = global.get(\"country_code\");\n    for (var i = 0; i < payload.categories.length; i++) {\n        var categ = payload.categories[i];\n        var key = categ.name.replace(/[\\s&]+/g, '_').replace(/_{2,}/g, '_');\n        options[key.toLowerCase()] = categ.score_out_of_10;\n    }\n\n    msg.payload = options;\n    return [msg, null];\n} catch (error) {\n    // does nothing\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "45e2981d47f24ee3",
                "76dff4d80ef73878"
            ],
            []
        ]
    },
    {
        "id": "45e2981d47f24ee3",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "5380906a922c76ad",
        "type": "sqlite",
        "z": "e07bb08050cb01c2",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "76dff4d80ef73878",
        "type": "function",
        "z": "e07bb08050cb01c2",
        "name": "INSERT DATABASE",
        "func": "var keys = Object.keys(msg.payload);\n// console.log(keys);\n// Generate the SQL statement dynamically\nvar sql_create = 'CREATE TABLE IF NOT EXISTS cities_table (' + keys.join(', ') + ', PRIMARY KEY (city_name))';\nvar sql = 'INSERT OR IGNORE INTO cities_table (' + keys.join(', ') + ') VALUES (';\nsql += keys.map(function (key) { return \"'\" + msg.payload[key] + \"'\"; }).join(', ');\nsql += ')';\n//msg.topic = [sql_create, sql];\nvar create_msg = {};\ncreate_msg.topic = sql_create;\nmsg.topic = sql;\nreturn [create_msg, msg];\n\n//msg.payload = options;\n//return [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 400,
        "wires": [
            [
                "ce8897d42225ae5f"
            ],
            [
                "d6a3245088ecbd7a"
            ]
        ]
    },
    {
        "id": "db0904da8248731b",
        "type": "function",
        "z": "e07bb08050cb01c2",
        "name": "CREATE TABLE",
        "func": "msg.topic = 'create table if not exists cities_table(city_name PRIMARY KEY, city_summary, housing, cost_of_living, startups, venture_capital, travel_connectivity, commute, business_freedom, safety, healthcare, education, environmental_quality, economy, taxation, internet_access, leisure_culture, tolerance, outdoors, country_code)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 520,
        "wires": [
            [
                "5380906a922c76ad"
            ]
        ]
    },
    {
        "id": "b3769bd16d0904aa",
        "type": "inject",
        "z": "e07bb08050cb01c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 560,
        "wires": [
            [
                "db0904da8248731b"
            ]
        ]
    },
    {
        "id": "0b11a0a0f1475fa3",
        "type": "inject",
        "z": "e07bb08050cb01c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 620,
        "wires": [
            [
                "80152803fa6197c6"
            ]
        ]
    },
    {
        "id": "80152803fa6197c6",
        "type": "function",
        "z": "e07bb08050cb01c2",
        "name": "DROP DATABASE",
        "func": "msg.topic = \"drop table if exists cities_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "5380906a922c76ad"
            ]
        ]
    },
    {
        "id": "ce8897d42225ae5f",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "d6a3245088ecbd7a",
        "type": "sqlite",
        "z": "e07bb08050cb01c2",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "de8d80f30b278ed7"
            ]
        ]
    },
    {
        "id": "de8d80f30b278ed7",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 400,
        "wires": []
    },
    {
        "id": "bafd75142abc7cbc",
        "type": "link in",
        "z": "e07bb08050cb01c2",
        "name": "Function Call Countries",
        "links": [
            "f56b2158af468c6d"
        ],
        "x": 295,
        "y": 420,
        "wires": [
            [
                "6e2f53a991a45798"
            ]
        ]
    },
    {
        "id": "dbf57b46265f0cf7",
        "type": "debug",
        "z": "e07bb08050cb01c2",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b65903c8ff1c250",
        "type": "link in",
        "z": "e07bb08050cb01c2",
        "name": "drop_table_link",
        "links": [
            "0dd070ac78a0f7bb"
        ],
        "x": 1125,
        "y": 640,
        "wires": [
            [
                "80152803fa6197c6"
            ]
        ]
    },
    {
        "id": "26246dfbcf6d63f9",
        "type": "link in",
        "z": "e07bb08050cb01c2",
        "name": "create_table_link",
        "links": [
            "e69b6b108373644e"
        ],
        "x": 1065,
        "y": 500,
        "wires": [
            [
                "db0904da8248731b"
            ]
        ]
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]