weather.json
[
    {
        "id": "40baf7fbdc9481b9",
        "type": "tab",
        "label": "WeatherFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa4beec3926cf2b4",
        "type": "inject",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "656f7de51732539e"
            ]
        ]
    },
    {
        "id": "656f7de51732539e",
        "type": "http request",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.geonames.org/searchJSON?country=GR&username=yourusername",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 290,
        "y": 300,
        "wires": [
            [
                "8eef600e6d965264"
            ]
        ]
    },
    {
        "id": "8eef600e6d965264",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "Insert Lat,Lng,Url func",
        "func": "var countries = msg.payload.geonames;\nvar options = [];\nfor (var i = 0; i < countries.length; i++) {\n    var city = countries[i];\n    if (city.fclName.includes(\"city\")) {\n        options.push({\n            city: city.toponymName.toLowerCase(),\n            lat: city.lat,\n            lng: city.lng,\n            city_weather_url:`https://api.open-meteo.com/v1/forecast?latitude=${city.lat}&longitude=${city.lng}&daily=weathercode,temperature_2m_max,temperature_2m_min,uv_index_max,uv_index_clear_sky_max,rain_sum,snowfall_sum,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum&current_weather=true&timezone=auto`,\n        });\n    }\n}\n\nmsg.payload = options;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 380,
        "wires": [
            [
                "2eb19af1ab1b6818",
                "2cc74a98ac4ebd80"
            ]
        ]
    },
    {
        "id": "20eb2f169db4c40a",
        "type": "link in",
        "z": "40baf7fbdc9481b9",
        "name": "city_weather",
        "links": [
            "487b36b153d91327"
        ],
        "x": 175,
        "y": 380,
        "wires": [
            [
                "ef4356441ef438db"
            ]
        ]
    },
    {
        "id": "2eb19af1ab1b6818",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "4abcda37c7535ade",
        "type": "http request",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "edce6405215dcf12",
                "a90973beb345e090"
            ]
        ]
    },
    {
        "id": "edce6405215dcf12",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "1fa5372d3592051f",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "CREATE TABLE WEATHER",
        "func": "msg.topic = 'create table if not exists weather_table(time date,weathercode,temperature_2m_max,temperature_2m_min,uv_index_max,uv_index_clear_sky_max,rain_sum,snowfall_sum,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum, city_name)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 260,
        "wires": [
            [
                "25ece1abde8e7603"
            ]
        ]
    },
    {
        "id": "0c48306d8cd48f5f",
        "type": "inject",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1220,
        "y": 320,
        "wires": [
            [
                "1fa5372d3592051f"
            ]
        ]
    },
    {
        "id": "1c176aaf55580a73",
        "type": "inject",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "a496596232d9c83d"
            ]
        ]
    },
    {
        "id": "a496596232d9c83d",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "DROP TABLE WEATHER",
        "func": "msg.topic = \"drop table if exists weather_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 340,
        "wires": [
            [
                "25ece1abde8e7603"
            ]
        ]
    },
    {
        "id": "f449d927c565e612",
        "type": "link in",
        "z": "40baf7fbdc9481b9",
        "name": "drop_table_link",
        "links": [
            "0dd070ac78a0f7bb"
        ],
        "x": 1385,
        "y": 400,
        "wires": [
            [
                "a496596232d9c83d"
            ]
        ]
    },
    {
        "id": "602db2194647ac33",
        "type": "link in",
        "z": "40baf7fbdc9481b9",
        "name": "create_table_link",
        "links": [
            "e69b6b108373644e"
        ],
        "x": 1325,
        "y": 260,
        "wires": [
            [
                "1fa5372d3592051f"
            ]
        ]
    },
    {
        "id": "a90973beb345e090",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "function 16",
        "func": "var options = [];\n// console.log(msg.city_name);\ntry {\n    var payload = msg.payload;\n    //console.log('payload.daily.city:', payload.city);\n    for (var i = 0; i < payload.daily.time.length; i++) {\n        var obj = {};\n        obj.time = payload.daily.time[i];\n        obj.weathercode = payload.daily.weathercode[i];\n        obj.temperature_2m_max = payload.daily.temperature_2m_max[i];\n        obj.temperature_2m_min = payload.daily.temperature_2m_min[i];\n        obj.uv_index_max = payload.daily.uv_index_max[i];\n        obj.uv_index_clear_sky_max = payload.daily.uv_index_clear_sky_max[i];\n        obj.rain_sum = payload.daily.rain_sum[i];\n        obj.snowfall_sum = payload.daily.snowfall_sum[i];\n        obj.windspeed_10m_max = payload.daily.windspeed_10m_max[i];\n        obj.winddirection_10m_dominant = payload.daily.winddirection_10m_dominant[i];\n        obj.shortwave_radiation_sum = payload.daily.shortwave_radiation_sum[i];\n        obj.city_name = msg.city_name;\n        //console.log(obj.city_name);\n        options.push(obj);\n    }\n\n    msg.payload = options;\n    return [msg, null];\n} catch (error) {\n    // does nothing\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 440,
        "wires": [
            [
                "478f4247e7977516",
                "adb97eabc8c9966d"
            ],
            []
        ]
    },
    {
        "id": "25ece1abde8e7603",
        "type": "sqlite",
        "z": "40baf7fbdc9481b9",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1750,
        "y": 300,
        "wires": [
            [
                "4543919ebf48d2f8"
            ]
        ]
    },
    {
        "id": "adb97eabc8c9966d",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "INSERT DATABASE",
        "func": "var sql = \"\";\nconsole.log(msg.payload.length);\nfor (var i = 0; i < msg.payload.length; i++) {\n    var time = msg.payload[i].time;\n    console.log(time);\n    var weathercode = msg.payload[i].weathercode;\n    var temperature_2m_max = msg.payload[i].temperature_2m_max;\n    var temperature_2m_min = msg.payload[i].temperature_2m_min;\n    var uv_index_max = msg.payload[i].uv_index_max;\n    var uv_index_clear_sky_max = msg.payload[i].uv_index_clear_sky_max;\n    var rain_sum = msg.payload[i].rain_sum;\n    var snowfall_sum = msg.payload[i].snowfall_sum;\n    var windspeed_10m_max = msg.payload[i].windspeed_10m_max;\n    var winddirection_10m_dominant = msg.payload[i].winddirection_10m_dominant;\n    var shortwave_radiation_sum = msg.payload[i].shortwave_radiation_sum;\n    var city_name = msg.payload[i].city_name;\n    sql = `INSERT INTO weather_table (time, weathercode, temperature_2m_max, temperature_2m_min, uv_index_max, uv_index_clear_sky_max, rain_sum, snowfall_sum, windspeed_10m_max, winddirection_10m_dominant, shortwave_radiation_sum, city_name) VALUES (strftime('%Y-%m-%d', '${time}'), ${weathercode}, ${temperature_2m_max}, ${temperature_2m_min}, ${uv_index_max}, ${uv_index_clear_sky_max}, ${rain_sum}, ${snowfall_sum}, ${windspeed_10m_max}, ${winddirection_10m_dominant}, ${shortwave_radiation_sum}, '${city_name}')`;\n\n    node.send({ topic: sql }); // send the SQL statement to the next node\n}\n\n// msg.topic = sql;\n// return [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 560,
        "wires": [
            [
                "6d121230c195fafe"
            ],
            []
        ]
    },
    {
        "id": "6d121230c195fafe",
        "type": "sqlite",
        "z": "40baf7fbdc9481b9",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "fe0299267d18aecd"
            ]
        ]
    },
    {
        "id": "fe0299267d18aecd",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 540,
        "wires": []
    },
    {
        "id": "4543919ebf48d2f8",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 300,
        "wires": []
    },
    {
        "id": "478f4247e7977516",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "bc3b232fb1de48dc",
        "type": "change",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.city_weather_url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.city",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 640,
        "wires": [
            [
                "4abcda37c7535ade"
            ]
        ]
    },
    {
        "id": "2cc74a98ac4ebd80",
        "type": "split",
        "z": "40baf7fbdc9481b9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "bc3b232fb1de48dc",
                "adefc86720a6efbc"
            ]
        ]
    },
    {
        "id": "adefc86720a6efbc",
        "type": "debug",
        "z": "40baf7fbdc9481b9",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef4356441ef438db",
        "type": "function",
        "z": "40baf7fbdc9481b9",
        "name": "function 17",
        "func": "var city = msg.payload;\nvar options = [];\nmsg.url = `https://api.open-meteo.com/v1/forecast?latitude=${city.lat}&longitude=${city.lng}&daily=weathercode,temperature_2m_max,temperature_2m_min,uv_index_max,uv_index_clear_sky_max,rain_sum,snowfall_sum,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum&current_weather=true&timezone=auto`\nmsg.city_name = city.city_name;\n// console.log(city.city_name);\n// global.set(\"city_name\", city.city_name);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "4abcda37c7535ade"
            ]
        ]
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]