hackathon_visualization/visualize.json
[
    {
        "id": "a4d31c16de61e5f3",
        "type": "tab",
        "label": "Hackathon Data Visual",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "664e11dec0c45708",
        "type": "json",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "e9726da46f1f4bf3",
                "36b3a83c17e896de"
            ]
        ]
    },
    {
        "id": "fa025f7af0bf5167",
        "type": "file in",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "filename": "/home/manousos/Documents/profile-data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "664e11dec0c45708"
            ]
        ]
    },
    {
        "id": "50eacd1149ee8ef5",
        "type": "inject",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "fa025f7af0bf5167"
            ]
        ]
    },
    {
        "id": "e9726da46f1f4bf3",
        "type": "debug",
        "z": "a4d31c16de61e5f3",
        "name": "debug 72",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "06068b9a018fcad1",
        "type": "ui_chart",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "group": "8c9997051c45c40c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Profile Visualization: Low = 1, High = 2",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "36b3a83c17e896de",
        "type": "function",
        "z": "a4d31c16de61e5f3",
        "name": "Draw BarChart",
        "func": "var city = msg.payload[0];\nvar rankings = { \"CPU\": city[\"cpu\"], \"Memory\": city[\"memory\"], \"Network Received\": city[\"networkreceived\"], \"Network Transmitted\": city[\"networktransmitted\"], \"Fsreads\": city[\"fsreads\"], \"Fswrites\": city[\"fswrites\"]};\nlet labels = Object.keys(rankings);\nfor(var l of labels){\n    if(rankings[l]===\"low\"){\n        rankings[l] = 1;\n    }\n    if (rankings[l] === \"high\") {\n        rankings[l] = 2;\n    }\n\n}\nlet data = Object.values(rankings);\nmsg.payload = [{\n    \"series\": [\"\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\nmsg.json = city;\n// msg.payload[0].labels = msg.payload[0].labels.map(label => label.charAt(0).toUpperCase() + label.slice(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "06068b9a018fcad1",
                "af2c94e197380ada",
                "fd92b03ed5136ffc"
            ]
        ]
    },
    {
        "id": "af2c94e197380ada",
        "type": "ui_template",
        "z": "a4d31c16de61e5f3",
        "group": "8c9997051c45c40c",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<p><strong>Branch Name:</strong> {{msg.json.branchname}}</p>\n<p><strong>Flow:</strong> {{msg.json.flow}}</p>\n<p><strong>Location:</strong> {{msg.json.location}}</p>\n<p><strong>Action:</strong> {{msg.json.actionname}}</p>\n<br>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fd92b03ed5136ffc",
        "type": "debug",
        "z": "a4d31c16de61e5f3",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd11529b361d8ffb",
        "type": "file in",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "filename": "/home/manousos/Documents/prometheus-data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "c32347516c7f6ecf"
            ]
        ]
    },
    {
        "id": "2d56d49da05804d3",
        "type": "debug",
        "z": "a4d31c16de61e5f3",
        "name": "debug 76",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 660,
        "wires": []
    },
    {
        "id": "461cb8c2dcf42de7",
        "type": "ui_chart",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "group": "8c9997051c45c40c",
        "order": 4,
        "width": "6",
        "height": "7",
        "label": "Prometheus Visualization",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b51c6402339658a4",
        "type": "function",
        "z": "a4d31c16de61e5f3",
        "name": "Draw BarChart",
        "func": "var dat = flow.get(\"prometheus_data\");\nvar sel_id = msg.payload;\nvar names = [];\nvar mem_arr = [];\nvar cpu_arr = [];\nvar netRec_arr = [];\nvar netTran_arr = [];\nvar fsR_arr = [];\nvar fsW_arr = [];\nvar info = {};\n// console.log(sel_id);\nfor (var d of dat){\n    if (sel_id === \"ALL\" || d[\"activationid\"] === sel_id){\n        names.push(d[\"activationid\"]);\n        mem_arr.push(d[\"memory\"] / 10000);\n        cpu_arr.push(d[\"cpu\"] * 10000);\n        netRec_arr.push(d[\"networkReceived\"]);\n        netTran_arr.push(d[\"networkTransmitted\"]);\n        fsR_arr.push(d[\"fsReads\"] / 10000);\n        fsW_arr.push(d[\"fsWrites\"] / 1000);\n        // count+=1;\n        info[\"testFunctionPayload\"] = d[\"testFunctionPayload\"];\n        info[\"actionname\"] = d[\"actionname\"];\n        info[\"owendpoint\"] = d[\"owendpoint\"];\n        info[\"branchname\"] = d[\"branchname\"];\n        info[\"flow\"] = d[\"flow\"];\n        info[\"activationid\"] = d[\"activationid\"];\n    }\n}\nif (sel_id !== \"ALL\"){\n    names = [\"\"];\n    msg.json = info;\n} else {\n    info[\"testFunctionPayload\"] = \"\";\n    info[\"actionname\"] = \"\";\n    info[\"owendpoint\"] = \"\";\n    info[\"branchname\"] = \"\";\n    info[\"flow\"] = \"\";\n    info[\"activationid\"] = \"\";\n    msg.json = info;\n}\n\nmsg.payload = [{\n    \"series\": [\"CPU (10^4)\", \"Memory (10^-4)\", \"Network Received\", \"Network Transmitted\", \"FsReads (10^-4)\", \"FsWrites (10^-3)\"],\n    \"data\": [cpu_arr, mem_arr, netRec_arr, netTran_arr, fsR_arr, fsW_arr],\n    \"labels\": names\n}];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "461cb8c2dcf42de7",
                "1a6fa2602f158a7e"
            ]
        ]
    },
    {
        "id": "c32347516c7f6ecf",
        "type": "function",
        "z": "a4d31c16de61e5f3",
        "name": "Convert JSON",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar data = msg.payload;\nflow.set(\"prometheus_data\", data);\nvar res = [];\nfor (var d of data){\n    var obj = {};\n    obj[d[\"activationid\"]] = d[\"activationid\"];\n    res.push(obj);\n}\nres.push({\"ALL\":\"ALL\"});\nmsg.options = res;\n// console.log(res);\nmsg.topic = \"data\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 600,
        "wires": [
            [
                "2d56d49da05804d3",
                "6d40f2c7f361a4fb"
            ]
        ]
    },
    {
        "id": "ccb88f1ad342199c",
        "type": "file in",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "filename": "/home/manousos/Documents/prometheus-data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "9e98b624395bb5d6"
            ]
        ]
    },
    {
        "id": "81d9d141bd9995f2",
        "type": "inject",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "ccb88f1ad342199c"
            ]
        ]
    },
    {
        "id": "b9bef1168282c7f9",
        "type": "debug",
        "z": "a4d31c16de61e5f3",
        "name": "debug 77",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 800,
        "wires": []
    },
    {
        "id": "9e98b624395bb5d6",
        "type": "function",
        "z": "a4d31c16de61e5f3",
        "name": "Convert JSON",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 840,
        "wires": [
            [
                "b9bef1168282c7f9",
                "33acf72dd34979dd"
            ]
        ]
    },
    {
        "id": "33acf72dd34979dd",
        "type": "function",
        "z": "a4d31c16de61e5f3",
        "name": "function 39",
        "func": "var mon = [\n    \"cpu\",\n    \"memory\",\n    \"networkReceived\",\n    \"networkTransmitted\",\n    \"fsReads\",\n    \"fsWrites\"\n]\ntry {\n    var data_res = msg.payload;\n    var data = {};\n    for (var i = 0; i < mon.length; i++) {\n        data[mon[i]] = [];\n        for (var j = 0; j < data_res.length; j++) {\n            data[mon[i]].push({ \"x\": mon[i], \"y\": data_res[j][mon[i]]});\n        }\n    }\n\n    console.log(data);\n    let labels = Object.keys(data);\n    let values = Object.values(data);\n    // console.log(values);\n\n    msg.payload = [{\n        // \"series\": [\"A\", \"B\", \"C\"], // names - labels\n        \"series\": labels,\n        // data -> the enviroment forecast. x = date and y = value -> should be in the same order as series.\n        // \"data\": [\n        //     [{ \"x\": \"2023-04-30\", \"y\": 5 }, { \"x\": \"2023-05-01\", \"y\": 4 }, { \"x\": \"2023-05-02\", \"y\": 2 }],\n        //     [{ \"x\": \"2023-04-30\", \"y\": 6 }, { \"x\": \"2023-05-01\", \"y\": 7 }, { \"x\": \"2023-05-02\", \"y\": 6 }],\n        //     [{ \"x\": \"2023-04-30\", \"y\": 7 }, { \"x\": \"2023-05-01\", \"y\": 7 }, { \"x\": \"2023-05-02\", \"y\": 7 }]\n        // ],\n        \"data\": values,\n        \"labels\": [\"\"]\n    }]\n    return [msg, null];\n} catch(error) {\n    // do nothing.\n    return [null, msg];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "06237e5143cc87de",
        "type": "debug",
        "z": "a4d31c16de61e5f3",
        "name": "debug 78",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "b63e4592247523ef",
        "type": "inject",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "cd11529b361d8ffb"
            ]
        ]
    },
    {
        "id": "6d40f2c7f361a4fb",
        "type": "ui_dropdown",
        "z": "a4d31c16de61e5f3",
        "name": "",
        "label": "",
        "tooltip": "Select an ID",
        "place": "Select an ID",
        "group": "8c9997051c45c40c",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "sel_id",
        "topicType": "str",
        "className": "",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "06237e5143cc87de",
                "b51c6402339658a4"
            ]
        ]
    },
    {
        "id": "1a6fa2602f158a7e",
        "type": "ui_template",
        "z": "a4d31c16de61e5f3",
        "group": "8c9997051c45c40c",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<p><strong>Activation ID:</strong> {{msg.json.activationid}}</p>\n<p><strong>Test Function Payload:</strong> {{msg.json.testFunctionPayload}}</p>\n<p><strong>Branchname:</strong> {{msg.json.branchname}}</p>\n<p><strong>Flow:</strong> {{msg.json.flow}}</p>\n<p><strong>Action:</strong> {{msg.json.actionname}}</p>\n<p><strong>Owendpoint:</strong> {{msg.json.owendpoint}}</p>\n<br>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f7de499ed7038ce1",
        "type": "comment",
        "z": "a4d31c16de61e5f3",
        "name": "Unused Function below:",
        "info": "",
        "x": 200,
        "y": 740,
        "wires": []
    },
    {
        "id": "8c9997051c45c40c",
        "type": "ui_group",
        "name": "Hackathon Data",
        "tab": "e532327510f60f27",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e532327510f60f27",
        "type": "ui_tab",
        "name": "Data Visualization",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]