subflows/clusters.json
[
    {
        "id": "b6bd72e9bbfba6d4",
        "type": "subflow",
        "name": "ClusterMaker",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "f53450e8e97370ff"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 200,
                "wires": [
                    {
                        "id": "9bf98c12cfce6fcd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED"
    },
    {
        "id": "f53450e8e97370ff",
        "type": "function",
        "z": "b6bd72e9bbfba6d4",
        "name": "function 38",
        "func": "var currentDate = new Date().toISOString().split('T')[0];\n\nmsg.topic = `SELECT temperature\nFROM weather_table wt\nJOIN cities_table ct ON wt.city_name = ct.city_name\nWHERE wt.time = '${currentDate}'`;\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "f50cb9ae269dbe54"
            ]
        ]
    },
    {
        "id": "f50cb9ae269dbe54",
        "type": "sqlite",
        "z": "b6bd72e9bbfba6d4",
        "mydb": "d9f236dca5911a50",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "af33c4844ac0a395"
            ]
        ]
    },
    {
        "id": "9bf98c12cfce6fcd",
        "type": "http request",
        "z": "b6bd72e9bbfba6d4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "af33c4844ac0a395",
        "type": "function",
        "z": "b6bd72e9bbfba6d4",
        "name": "function 39",
        "func": "var list = [];\nfor(var values of msg.payload){\n    list.push(values.temperature);\n}\nmsg.payload = { \"value\": { \"data\": [{ \"name\": \"temperature\", \"value\": list }], \"mode\": \"multiple\", \"function\": \"kmeans\" } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "9bf98c12cfce6fcd"
            ]
        ]
    },
    {
        "id": "d9f236dca5911a50",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]