subflows/drop_table.json
[
    {
        "id": "f4881bea9e51b3c4",
        "type": "subflow",
        "name": "Drop DB Tables",
        "info": "The Drop DB Tables subflow is used to drop all the database tables and reset the global variables.",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "1a61010f2802e559"
                    },
                    {
                        "id": "02c314ec9a505203"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 160,
                "wires": [
                    {
                        "id": "5443588cfc9d7452",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 40,
                "wires": [
                    {
                        "id": "e38ca28815e891a2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED"
    },
    {
        "id": "1a61010f2802e559",
        "type": "function",
        "z": "f4881bea9e51b3c4",
        "name": "DROP TABLE WEATHER",
        "func": "msg.topic = \"drop table if exists weather_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 160,
        "wires": [
            [
                "5443588cfc9d7452",
                "d861fb7b8d02de10",
                "049705fdce882d48"
            ]
        ]
    },
    {
        "id": "5443588cfc9d7452",
        "type": "sqlite",
        "z": "f4881bea9e51b3c4",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d861fb7b8d02de10",
        "type": "function",
        "z": "f4881bea9e51b3c4",
        "name": "DROP DATABASE",
        "func": "msg.topic = \"drop table if exists cities_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "623a8f9fd03aa531"
            ]
        ]
    },
    {
        "id": "049705fdce882d48",
        "type": "function",
        "z": "f4881bea9e51b3c4",
        "name": "RESET GLOBAL KEYS",
        "func": "var globalKeys = global.keys();\n\nfor (var i = 0; i < globalKeys.length; i++) {\n    // global.delete(globalKeys[i]);\n    if (globalKeys[i] != \"username\") {\n        global.set(globalKeys[i], 0);\n    }\n}\n\nif (global.keys().length <= 0) {\n    msg.payload = \"All global keys deleted.\"\n    return [msg, null];\n}\nmsg.payload = \"All global keys NOT deleted.\"\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "623a8f9fd03aa531",
        "type": "sqlite",
        "z": "f4881bea9e51b3c4",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "02c314ec9a505203",
        "type": "function",
        "z": "f4881bea9e51b3c4",
        "name": "DROP TABLE IMAGE",
        "func": "msg.topic = \"drop table if exists image_table\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 60,
        "wires": [
            [
                "e38ca28815e891a2"
            ]
        ]
    },
    {
        "id": "e38ca28815e891a2",
        "type": "sqlite",
        "z": "f4881bea9e51b3c4",
        "mydb": "e1b7d6f10fa6ce00",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 510,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e1b7d6f10fa6ce00",
        "type": "sqlitedb",
        "db": "/tmp/cities.db",
        "mode": "RWC"
    }
]